$gray: #e6e6e6
$light-coral: #f37e77

$input-border-color: $gray
$selection-bg: $light-violet
$selection-fg: $white
$suggestions-bg: $white
$suggestions-bg-active: $light-violet
$suggestions-fg-active: $white

$wagtail-border-radius: 6px

// sass-loader does not support webpack aliasing.
// See webpack-contrib/sass-loader #410.
@import ../../../autocomplete/static/css/accessibility
@import ../../../autocomplete/static/css/autocomplete
@import ../../../autocomplete/static/css/layout
@import ../../../autocomplete/static/css/selection
@import ../../../autocomplete/static/css/suggestions
@import autocomplete/autocomplete
@import autocomplete/selection
@import autocomplete/suggestions
