*
	box-sizing: border-box

*:after,
*:before
	box-sizing: inherit

html
	height: 100%
	font-family: $sans-serif

body
	background-color: $gray-mid-light
	margin: 0
	height: 100%

main
	+embiggen-large--more

button
	transition: background-color ease-in 0.15s

b,
strong
	font-weight: $sans-bold
