*
	box-sizing: border-box

*:after,
*:before
	box-sizing: inherit

html
	height: 100%
	font-family: $sans-serif

body
	background-color: $fpf-grey-light
	margin: 0
	height: 100%

button
	transition: background-color ease-in 0.15s

b,
strong
	font-weight: $sans-bold

a
	text-decoration-color: $gray-light
	color: $blue-dark-link
	&:hover
		color: $blue-dark-link-hover
		text-decoration-color: darken($gray-light, 10%)
