.blog-tease
	font-size: 13px
	color: $cod-grey

	> div
		padding: 0 30px

	&:not(:last-child)
		margin-bottom: 40px

.blog-tease__title
	padding-bottom: 15px
	font-family: $serif
	font-size: 1.75em
	font-weight: 300

.blog-tease__link
	color: inherit
	text-decoration: none

.blog-tease__organization
	color: #848484
