.blog-page
	background-color: $white
	margin-bottom: 1rem

	@media (max-width: $small-screen)
		margin: 0

	&__date
		+light-gray-text-small
		margin-bottom: 1rem

	&__return-button
		margin-top: 2rem
		margin-bottom: 1rem
