.blog-details
	margin-top: 1em
	margin-right: 0.5em
	color: $gray-mid-text

	@media (max-width: $small-screen)
		margin: 0 1em

	&__summary
		padding-bottom: 1em
		margin-bottom: 1em
		border-bottom: 1px solid $gray-light

	&__summary-subject
		+link-transition
		font-weight: $sans-bold
		color: $gray-mid-dark-text
		text-decoration: none

		&:hover
			color: $black
			text-decoration: underline
			text-decoration-color: $black

	&__photo
		width: 100%
		height: auto

	&__logo
		width: 100%
		height: auto
