.blog-tease

	&--blog-index
		font-family: $sans-serif
		background: #fff
		width: 100%
		margin-bottom: 20px

	&--homepage
		margin-bottom: 40px


	&__body--blog-index
		padding: $blog-tease-padding

	&__title
		font-family: $serif
		font-weight: normal
		line-height: 1.25
		margin: $incident-attr-margin

		&--blog-index
			font-size: 2em

		&--homepage
			font-size: 1.5em

	&__title-link
		+title-link

	&__date
		margin: $incident-attr-margin
		+light-gray-text-small


	&__tease
		margin: $incident-attr-margin
		color: $gray-mid-dark-text

		.rich-text > p
			margin: 0

		&--homepage
			font-size: 0.8em
			line-height: 1.45

	&__organization
		padding-top: 10px
		+uppercase
		font-size: 0.8em
		margin: 0
		font-weight: $sans-regular
		+list-unstyled
		& > li
			+list-comma-separated
			display: inline
