.blog-details
	margin-top: 1rem
	margin-right: .5rem
	color: $gray-mid-text

	@media (max-width: $small-screen)
		margin: 0 1rem

	&__summary
		padding-bottom: 1rem
		margin-bottom: 1rem
		border-bottom: 1px solid $gray-light

	&__summary-subject
		font-weight: $sans-bold
		color: $gray-mid-dark-text
