.blog-tease
	// Variables largely copied from incidents
	$blog-tease-padding: 1em
	$blog-attr-margin: 0 0 15px 0

	&--blog-index
		font-family: $sans-serif
		background: #fff
		width: 100%
		margin-bottom: 20px

	&--homepage
		margin-bottom: 40px


	&__body--blog-index
		padding: $blog-tease-padding

	&__title
		font-family: $serif
		font-weight: normal
		line-height: 1.25
		margin: $blog-attr-margin

		&--blog-index
			font-size: 2em

		&--homepage
			font-size: 1.4em
			line-height: 1.4

	&__title-link
		+title-link

	&__tease
		margin: $blog-attr-margin

		.rich-text > p
			margin: 0

		&--blog-index
			color: $gray-mid-dark-text

		&--homepage
			line-height: 1.45

	&__organization
		+blue-link
		padding-top: 10px
		+light-gray-text-small
		+list-unstyled
		& > li
			+list-comma-separated()
			display: inline

	@media (min-width: $medium-screen-min)
		&--horizontal
			display: flex
			flex-direction: row-reverse
			align-items: top

			> :not(:last-child)
				width: 25vw
				flex-shrink: 0
				height: auto
				padding: 1em
				padding-right: 0
