.blog-filter
	+blue-link
	font-family: $sans-serif
	display: block
	text-decoration: none
	margin-top: -2rem
	padding-bottom: 1em
	border-bottom: 1px solid darken($gray-light, 5%)
	margin-bottom: $column-gutter-width

.blog-filter__clear
	float: right
