.button
	+button

.button--outline
	+button--outline

.button--center
	display: block
	max-width: 33%
	margin: 0 auto 20px auto

	@media(max-width: $small-screen)
		max-width: 60%

	@media(max-width: $extra-small-screen)
		max-width: none


.button--expand-full
	display: block
	max-width: 300px
	margin: 0 auto

.button--expand-center
	display: block
	width: 80%
	max-width: 300px
	margin: 0 auto
