.captioned-image__wrapper
	+clearfix


.captioned-image__wrapper--right
	float: right
	max-width: 50%
	padding-left: 1rem

.captioned-image__wrapper--left
	float: left
	max-width: 50%
	padding-right: 1rem
