$category-padding: 30px

.category
  padding-right: $category-padding

.category__name
  font: TimesNewRoman
  color: white
  font-size: 1.5em

.category__description
  color: $fpf-grey-light

.quickfacts
  color: $fpf-grey-light
  padding: 20px $category-padding
  overflow: hidden

.category-sidebar
  padding: 0 25px
