.category-block
	width: 50%
	padding: 20px

	background-color: $gray-dark
	color: rgba($white, 0.9)
	font-weight: 300

	@media(max-width: $small-screen)
		width: 100%


.category-block__header
	+section-heading
	color: rgba($white, 0.5)
	margin-top: 0.5em

.category-block__list
	+list-unstyled
	+gray-link
	column-count: 2

.category-block__link
	padding: 0.5em 0
	display: inline-block
	font-size: 1.1em
