.category-block
	width: 50%
	padding: 20px

	background-color: $gray-dark
	color: rgba($white, 0.9)
	font-weight: 300

	@media(max-width: $small-screen)
		width: 100%


.category-block__header
	+section-heading
	color: rgba($white, 0.5)
	margin-top: 0.5rem

.category-block__list
	+gray-link
	margin: 0
	padding: 0
	column-count: 2
	list-style-type: none

.category-block__link
	padding: 0.5em 0
	display: block
	font-size: 1.1em

