.category-list
	+list-unstyled
	+underline-link
	margin-bottom: 0.2rem

.category-list__item
	display: inline-block
	margin-right: 0.5rem


@each $name, $color in $border-colors
	.category-list__item--#{$name}
		color: $color
