$category-padding: 30px

.category
	padding-right: $category-padding

.category__name
	font-family: $serif
	font-weight: normal
	color: white
	font-size: 1.7em
	margin: 15px 0

.quickfacts
	color: $fpf-grey-light
	overflow: hidden
