$category-padding: 30px

.category
  padding-right: $category-padding

.category__name
  font-family: $serif
  font-weight: normal
  color: white
  font-size: 1.7em
  margin: 15px 0

.category__description
  color: $fpf-grey-light
  padding-bottom: 20px

.quickfacts
  color: $fpf-grey-light
  overflow: hidden

