.data-table
	border-collapse: collapse
	margin-bottom: 2em
	width: 100%

.data-table__row
	border-top: 1px solid darken($fpf-grey-light, 5%)

	&:first-child
		border-top: 0

.data-table__label
	font-weight: bold
	text-align: left
	padding: 9px
	padding-left: 0
	min-width: 125px
	vertical-align: top

.data-table__value
	padding: 9px 0
	vertical-align: top

.data-table__list
	list-style-type: none
	padding: 0
	margin: 0
