@keyframes fade-in
	from
		opacity: 0

	to
		opacity: 1

.animation-fade-in
	opacity: 0
	animation-name: fade-in
	animation-duration: 0.4s
	animation-fill-mode: both
	animation-timing-function: linear

@for $i from 2 through 12
	.animation-fade-in--#{$i}
		animation-delay: ($i - 1) * (0.2s - (min($i, 5) * 0.025))
