$padding-x: 1em
$padding-y: 1em


.filters__header
	+flex-vertically-centered-row
	background-color: $filters-bg-light

	> *
		padding-left: $padding-x
		padding-right: $padding-x


.filters__expandable
	height: 0
	overflow: hidden


.filters__expandable--expanded
	height: auto
	overflow: auto


.filters__category-selection
	padding: $padding-y $padding-x

	background-color: $filters-bg-medium


.filters__categories
	+list-unstyled
	display: flex
	flex-direction: row
	flex-wrap: wrap
	padding: ($padding-y / 2) 0
	margin: 0 ($padding-y / -2)


.filters__category
	flex-basis: 25%
	display: flex
	align-items: center
	justify-content: center
	border: 0
	border-radius: 0.5em
	padding: ($padding-y * 1.5) $padding-x
	margin: ($padding-y / 2) ($padding-x / 2)

	background-color: $filters-bg-light
	color: $filters-fg-dim
	text-align: center

	cursor: pointer


.filters__category--active,
.filters__category:active,
.filters__category:hover,
.filters__category:focus
	background-color: $white
	color: $filters-bg-medium


.filters__tabs
	+list-unstyled
	padding: 0 $padding-x

	background-color: $filters-bg-medium


.filters__tab
	display: inline-block
	padding: ($padding-y * 0.75) ($padding-x * 2)

	background-color: $filters-bg-medium
	color: $filters-fg-dim
	font-weight: 300
	line-height: 1


.filters__tab--active,
.filters__tab:active,
.filters__tab:hover,
.filters__tab:focus
	background-color: $filters-bg-dark
	color: $white


.filters__body
	padding: $padding-y $padding-x

	background-color: $filters-bg-dark


.filters__footer
	+flex-vertically-centered-row
	padding: ($padding-y / 2) $padding-x
	background-color: $filters-bg-light


.filters__link
	text-decoration: none
	color: $white


.filters__text
	font-weight: 300
	color: $white
	line-height: 1


.filters__text--dim
	color: $filters-fg-dim


.filters__text--meta
	font-style: italic


.filters__button
	+flex-vertically-centered-row
	+uppercase
	padding: $padding-y $padding-x
	border: 0

	background-color: transparent
	color: $filters-fg-dim
	line-height: 1

	&:active,
	&:hover,
	&:focus
		color: $white


.filters__icon
	margin: 0 0.5em
	width: 1em
	height: 1em

	color: inherit
