.flex-container
	display: flex
	flex-direction: column
	height: 100%

	> *
		// The flex item should not be able to shrink to a dimension smaller
		// than its children. For instance, if one flex-container child
		// containing the main body of the homepage is taller than the
		// viewport then this should not compromise the dimension of the
		// header.
		flex-shrink: 0

@for $index from 1 through 4
	.flex-container--grow-#{$index} > :nth-child(#{$index})
		// Allow this particular flex item to take the remaining main size
		// (height in this case, as the main axis here vertical).
		flex-grow: 1
