.flex-container
	display: flex
	flex-direction: column
	height: 100%

	// This is not very BEM, but we allow it as one of the less bad ways of
	// accomplishing this. Layout is hard T_T
	> :last-child
		flex-grow: 1
