$fontsDir: $staticUrl + 'fonts/'

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 200
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-ExtraLight.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-ExtraLight.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-ExtraLight.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-ExtraLight.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-ExtraLight.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 200
	font-style: italic
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-ExtraLightIt.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-ExtraLightIt.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-ExtraLightIt.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-ExtraLightIt.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-ExtraLightIt.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 300
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-Light.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-Light.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-Light.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-Light.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-Light.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 300
	font-style: italic
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-LightIt.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-LightIt.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-LightIt.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-LightIt.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-LightIt.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 400
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-Regular.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-Regular.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-Regular.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 400
	font-style: italic
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-It.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-It.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-It.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-It.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-It.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 600
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-Semibold.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-Semibold.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-Semibold.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-Semibold.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-Semibold.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 600
	font-style: italic
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-SemiboldIt.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-SemiboldIt.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-SemiboldIt.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-SemiboldIt.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-SemiboldIt.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 700
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-Bold.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-Bold.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-Bold.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-Bold.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-Bold.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 700
	font-style: italic
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-BoldIt.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-BoldIt.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-BoldIt.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-BoldIt.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-BoldIt.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 900
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-Black.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-Black.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-Black.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-Black.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-Black.ttf') format('truetype')

@font-face
	font-family: 'Source Sans Pro'
	font-weight: 900
	font-style: italic
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSansPro-BlackIt.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF2/TTF/SourceSansPro-BlackIt.ttf.woff2') format('woff2'), url('#{$fontsDir}WOFF/OTF/SourceSansPro-BlackIt.otf.woff') format('woff'), url('#{$fontsDir}OTF/SourceSansPro-BlackIt.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSansPro-BlackIt.ttf') format('truetype')

@font-face
	font-family: 'Source Serif Pro'
	font-weight: 200
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSerifPro-ExtraLight.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF/OTF/SourceSerifPro-ExtraLight.otf.woff') format('woff'), url('#{$fontsDir}WOFF2/OTF/SourceSerifPro-ExtraLight.otf.woff2') format('woff2'), url('#{$fontsDir}OTF/SourceSerifPro-ExtraLight.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSerifPro-ExtraLight.ttf') format('truetype')

@font-face
	font-family: 'Source Serif Pro'
	font-weight: 300
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSerifPro-Light.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF/OTF/SourceSerifPro-Light.otf.woff') format('woff'), url('#{$fontsDir}WOFF2/OTF/SourceSerifPro-Light.otf.woff2') format('woff2'), url('#{$fontsDir}OTF/SourceSerifPro-Light.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSerifPro-Light.ttf') format('truetype')

@font-face
	font-family: 'Source Serif Pro'
	font-weight: 400
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSerifPro-Regular.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF/OTF/SourceSerifPro-Regular.otf.woff') format('woff'), url('#{$fontsDir}WOFF2/OTF/SourceSerifPro-Regular.otf.woff2') format('woff2'), url('#{$fontsDir}OTF/SourceSerifPro-Regular.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSerifPro-Regular.ttf') format('truetype')

@font-face
	font-family: 'Source Serif Pro'
	font-weight: 600
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSerifPro-Semibold.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF/OTF/SourceSerifPro-Semibold.otf.woff') format('woff'), url('#{$fontsDir}WOFF2/OTF/SourceSerifPro-Semibold.otf.woff2') format('woff2'), url('#{$fontsDir}OTF/SourceSerifPro-Semibold.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSerifPro-Semibold.ttf') format('truetype')

@font-face
	font-family: 'Source Serif Pro'
	font-weight: 700
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSerifPro-Bold.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF/OTF/SourceSerifPro-Bold.otf.woff') format('woff'), url('#{$fontsDir}WOFF2/OTF/SourceSerifPro-Bold.otf.woff2') format('woff2'), url('#{$fontsDir}OTF/SourceSerifPro-Bold.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSerifPro-Bold.ttf') format('truetype')

@font-face
	font-family: 'Source Serif Pro'
	font-weight: 900
	font-style: normal
	font-stretch: normal
	src: url('#{$fontsDir}EOT/SourceSerifPro-Black.eot') format('embedded-opentype'), url('#{$fontsDir}WOFF/OTF/SourceSerifPro-Black.otf.woff') format('woff'), url('#{$fontsDir}WOFF2/OTF/SourceSerifPro-Black.otf.woff2') format('woff2'), url('#{$fontsDir}OTF/SourceSerifPro-Black.otf') format('opentype'), url('#{$fontsDir}TTF/SourceSerifPro-Black.ttf') format('truetype')
