.form-page
	background-color: $white
	padding: $column-gutter-width
	margin-bottom: $column-gutter-width

	&__form
		line-height: 1.4

		p
			margin-bottom: 1.5em

			& > label
				display: block
				margin-bottom: 0.25em
				font-weight: $sans-bold

		ul
			+list-unstyled
			margin-top: -1em

		li
			margin-bottom: 0.25em
			input
				margin-right: 0.25em

		textarea
			border: 1px solid $gray-mid-dark-text
			padding: 0.5em
			width: 36em
			max-width: 100%


		input[type="text"],
		input[type="number"],
		input[type="url"],
		input[type="email"]
			border: 1px solid $gray-mid-dark-text
			padding: 0.5em
			width: 20em
			max-width: 100%

		input[type="submit"]
			+button
			+button--outline
