.hamburger
  background-color: $header-color

  @media(min-width: $small-screen)
    display: none

.hamberger-box
  color: white

.hamburger-inner
  background-color: $white

  &:before, &:after
    background-color: $white

  @media(min-width: $small-screen)
    display: none
