$hamburger-extra-small-width: 30px

.hamburger
	background-color: $header-color
	padding-bottom: 11px

	@media(max-width: $extra-small-screen)
		padding-left: 0.5rem
		padding-right: 0.5rem

	@media(min-width: $small-screen-min)
		display: none


.hamburger-box
	@media(max-width: $extra-small-screen)
		width: $hamburger-extra-small-width

.hamburger-inner
	background-color: $white

	&:before,
	&:after
		background-color: $white

	@media(min-width: $small-screen-min)
		display: none

	@media(max-width: $extra-small-screen)
		width: $hamburger-extra-small-width

		&:before,
		&:after
			width: $hamburger-extra-small-width
