.header
	margin-top: $header-margin-top
	margin-bottom: $header-margin-top * 2
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center
	background-color: $header-color

	@media (max-width: $small-screen)
		margin-top: 0


.header__logo
	background-color: $header-color
	box-sizing: content-box
	position: relative
	left: -$column-gutter-width
	margin: 0
	padding: 15px
	padding-left: $page-margin-side * 2
	overflow: hidden

	@media(max-width: $small-screen)
		height: $header-logo-height-mobile
		padding-top: 0
		padding-bottom: 0
		width: 100%
		left: 0
		padding-left: 1rem
		padding-right: 0

	@media(max-width: $extra-small-screen)
		// gives logo the width it needs
		padding-left: 0.5rem

	&::after
		content: ''
		display: block
		width: 200%
		padding-bottom: 200%
		height: 0
		background-color: #fff
		position: absolute
		top: 0
		left: 0
		// I donno why this number
		transform: rotateZ(45deg) translate3d(0, 65px, 0)
		transform-origin: 0 0
		transition: 0.25s linear transform
		z-index: 0

	&:hover
		.header__logo-svg path
			fill: $header-color

		&::after
			transform: rotateZ(45deg) translate3d(0, -260px, 0)

.header__logo-svg
	position: relative
	z-index: 1

.header__logo-svg path
	fill: #fff
	transition: 0.25s linear fill

.header__nav
	font-family: $sans-serif
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: flex-end

.header__nav-list
	list-style-type: none
	display: inline-block
	margin: 0
	margin-bottom: $nav-link-padding
	padding: 0

.header__nav-item
	display: inline-block
	font-size: 1.1em

.header__nav-link
	display: block
	// 1px to adjust the text baseline to be better centered
	padding: #{$nav-link-padding + 1px} 0 #{$nav-link-padding - 1px} 0
	margin: 0 $nav-link-padding
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 0.05em
	color: $gray-mid-dark-text
	transition: 0.15s linear all
	position: relative
	font-size: 0.9em
	border-bottom: 1px solid transparent

	&:hover
		color: $gray-dark
		border-bottom: 1px solid $gray-dark

.header__nav-link--highlighted
	padding-left: #{$nav-link-padding * 2}
	padding-right: #{$nav-link-padding * 2}
	margin: 0
	background-color: $gray-mid-dark
	transition: 0.15s linear all
	color: $white
	border-bottom: 1px solid transparent

	&:hover
		color: $white
		background-color: $gray-dark
		border-bottom: 1px solid transparent

@media(max-width: $small-screen)
	.header__nav-list--mobile-hidden
		display: none
