$header-margin-top: 10px
$header-height: $header-margin-top + 60px
$nav-item-height: 15px

.header
  margin-bottom: 30px
  justify-content: flex-end
  height: $header-height

.header__logo
	background-color: $header-color
	position: relative
	left: -$page-margin-side
	margin: 0
	top: $header-margin-top
	padding: 15px
	padding-left: $page-margin-side
	float: left

	svg g path
		fill: white

.header__nav
  font-family: quicksand
  margin-top: $header-height - $nav-item-height
  font-family: quicksand

.header__nav-list
  list-style-type: none
  display: inline

.header__nav-item
  display: inline

.header__nav-link
  padding: 5px
  text-decoration: none
  text-transform: uppercase
  color: $gray-medium-dark
  &:hover
    background-color: $gray-medium-dark
    color: #fff
