.incident
  font-family: quicksand

.incident__main, .incident__related-card
  padding: .2em 1.2em

.incident__title, .incident__related-incident-title
  font-family: "Times New Roman"
  margin-top: 0

.incident__category-name, .incident__uppercase-title
  font-size: .8em
  margin-top: $title-top-margin
  margin-bottom: $title-top-margin * 0.33
  text-transform: uppercase

.incident__uppercase-title
  margin-bottom: $related-cases-margin
  text-transform: uppercase

.incident__details
  border-collapse: collapse
  margin-bottom: 2em
  width: 100%

.incident__details-cell
  border-bottom: 1px solid black
  padding: .5em

.incident__details-cell--bold
  font-weight: bold

.incident__text-link
  color: $blue-link
  &:hover
    color: $blue-link-hover

.incident__card-link
  text-decoration: none
  color: $black

.incident--border-arrest
  border-left: 20px solid $arrest-color

.incident--border-equipment-seizure
  border-left: 20px solid $equipment-seizure-color

.incident--color-arrest
  color: $arrest-color
  font-family: quicksand

.incident--color-equipment-seizure
  color: $equipment-seizure-color

.incident--white-background
  background-color: #fff

.incident__related-group
  display: inline-block

.incident__related-card
  margin-bottom: 2em
  margin-right: $incident-card-margin
  width: $half-main-width
  display: inline-block
  height: 200px
  overflow: hidden

.incident__more-related
  padding: 1em 100px
  font-family: quicksand
  border: 1px solid $black
  background-color: $gray-very-light
  text-align: center
  margin: 0 auto

@media(max-width: $small-screen)
  .incident__more-related
    padding: 1em 80px
