.incident
  font-family: quicksand

.incident__main
  padding: 1em

.incident__h1, .incident__h2
  font-family: "Times New Roman"

.incident__h3
  font-size: .8em

.incident__details
  border-collapse: collapse
  margin-bottom: 2em
  width: 100%

.incident__details_cell
  border-bottom: 1px solid black
  padding: .5em

.incident__details_cell--bold
  font-weight: bold

.incident__text-link
  color: $blue-link
  &:hover
    color: $blue-link-hover

.incident__card-link
  text-decoration: none
  color: $black

.incident--border-arrest
  border-left: 20px solid $arrest-color

.incident--border-equipment-seizure
  border-left: 20px solid $equipment-seizure-color

.incident--color-arrest
  color: $arrest-color
  font-family: quicksand

.incident--color-equipment-seizure
  color: $equipment-seizure-color

.incident--white-background
  background-color: #fff

.incident__related_card
  margin-bottom: 2em

.incident__related_card--centered
  text-align: center

.incident__more_related
  padding: 1em 100px
  font-family: quicksand
  border: 1px solid $black
  background-color: $gray-very-light
