.incident
	font-family: $sans-serif
	background: #fff
	border-left-width: 25px
	border-left-style: solid
	// Ensures that incidents take up the whole
	// width of their flex parent
	width: 100%

.incident__body
	padding: $incident-body-top-padding $incident-body-side-padding 5px

.incident__top-image
	display: block
	width: 100%

.incident__category-name
	+uppercase
	font-size: 0.8em
	margin: 0
	font-weight: $sans-regular

.incident__title
	+underline-link
	font-family: $serif
	font-weight: normal
	margin-top: 0
	margin: 0 0 15px 0
	line-height: 1.25

.incident__date
	+light-gray-text-small
	margin: 0 0 15px 0

.incident__description
	margin: 0 0 15px 0
	color: $gray-mid-dark-text

.incident__update-item
	margin: 20px 0 0 0
	padding-top: 20px
	border-top: 1px solid #ddd

// Modifiers:

.incident--teaser
	margin-bottom: 20px

.incident--full
	margin-bottom: 40px

@each $name, $color in $border-colors
	.incident--#{$name}
		border-left-color: $color


// TODO: Move these to a different module

.incident__related-group
	display: inline-block

.incident__related-card
	margin-bottom: 2em
	margin-right: $incident-card-margin
	width: $half-main-width
	display: inline-block
	height: 200px
	overflow: hidden

@media (max-width: $medium-screen)
	.incident__title
		font-size: 1.4em
		margin-bottom: 5px
