.incidents-sidebar
	border-bottom: 1px solid $gray-light
	margin-bottom: 30px
	margin-left: 30px
	margin-right: 30px
	padding-bottom: 30px
	line-height: 1.4


	&__list
		margin-bottom: 1.5em


	&__item
		display: block
		padding: 0 1.5em 1.5em
		margin: 0 -1.5em // Fitt's Law

		color: $gray-mid-dark-text

		text-decoration: none

		// Sorry, BEM (didn't want underline on date)
		&:hover .incidents-sidebar__title
			text-decoration: underline


	&__title
		font-weight: $sans-bold
		margin-bottom: 0.5em


	&__date
		color: $gray-light-text
