.incident-grid
	display: flex
	flex-direction: row
	flex-wrap: wrap
	align-items: stretch
	margin-left: -$column-gutter-width

.incident-grid__item
	box-sizing: border-box
	display: flex
	width: 50%
	overflow: hidden
	padding-left: $column-gutter-width

	@media(max-width: $small-screen)
		width: 100%
		padding: 0
