.incident
	font-family: $sans-serif
	background: #FFF
	padding-bottom: 5px
	padding-top: 20px
	border-left-width: 25px
	border-left-style: solid

.incident__body > *
	padding: 0 20px

.incident__top-image
	margin-top: -20px
	padding-left: 0
	padding-right: 0
	margin-bottom: 20px
	display: block
	max-width: 100%
	height: auto

.incident__category-name
	font-size: .8em
	text-transform: uppercase
	letter-spacing: .1em
	margin: 0 0 5px 0

.incident__title
	font-family: $serif
	font-weight: normal
	margin-top: 0
	margin: 0 0 15px 0

.incident__title-link
	color: inherit
	text-decoration: none
	display: block
	&:hover
		text-decoration: underline

.incident__date
	margin: 0 0 15px 0
	color: #888

.incident__description
	margin: 0 0 15px 0

.incident__update-item
	margin: 20px 0 0 0
	padding-top: 20px
	border-top: 1px solid #DDD

// Modifiers:

.incident--teaser
	margin-bottom: 20px

.incident--full
	margin-bottom: 40px

@each $name, $color in $border-colors
      .incident--#{$name}
          border-left-color: $color

      .incident__category-name--#{$name}
      		color: $color


// TODO: Move these to a different module

.incident__related-group
	display: inline-block

.incident__related-card
	margin-bottom: 2em
	margin-right: $incident-card-margin
	width: $half-main-width
	display: inline-block
	height: 200px
	overflow: hidden

@media (max-width: $medium-screen)
	.incident__title
		font-size: 1.4em
		margin-bottom: 5px
