.infinite-scrolling-divider
	width: 100%
	display: block
	color: rgba($black, 0.75)
	font-weight: bold
	font-family: $serif
	text-decoration: none
	padding-bottom: 3px
	border-bottom: 1px solid rgba($black, 0.3)
