.intro
	margin-bottom: 20px
	padding: 20px

	font-size: 1.25rem
	line-height: 1.5

	background-color: white
	color: $gray-mid-text

	b
		color: $gray-mid-dark-text

.intro__read-more
	+uppercase
	text-decoration: none
	color: $gamboge
	font-size: 0.85em
	transition: color 0.1s ease
	font-weight: $sans-bold
	margin-left: 0.25em
	white-space: nowrap

	svg
		width: 0.8em

	svg path
		transition: fill 0.1s ease
		fill: $gamboge

	&:hover,
	&:focus,
	&:active
		color: $gamboge-hover

		svg path
			fill: $gamboge-hover
