.layout-right-sidebar
	display: flex
	flex-direction: row
	box-sizing: border-box

	//@media(max-width: $small-screen)

.layout-right-sidebar__main
	display: block
	flex-grow: 1
	padding-left: $column-gutter-width

.layout-right-sidebar__sidebar
	width: $sidebar-width
	min-width: $sidebar-min-width
	margin-left: $column-gutter-width
	padding-right: $column-gutter-width
	background-color: $fpf-sidebar

	@media(max-width: $small-screen)
		margin-top: 20px
		margin-left: 0
		width: auto
