.layout-right-sidebar
	display: flex
	flex-direction: column
	height: 100%

.layout-right-sidebar__row
	display: flex
	flex-direction: row
	box-sizing: border-box

	&:last-child
		flex-grow: 1

.layout-right-sidebar__row__main
	// If a sidebar width is set then flex-grow: 1 on here ensures the
	// main element populates the remaining horizontal space.
	flex-grow: 1
	padding-left: $column-gutter-width

.layout-right-sidebar__row__sidebar
	// flex-shrink ensures the width is 25%
	flex-shrink: 0
	width: $sidebar-width
	min-width: $sidebar-min-width
	margin-left: $column-gutter-width
	padding-right: $column-gutter-width

	@media(max-width: $small-screen)
		margin-top: 20px
		margin-left: 0
		width: auto

.layout-right-sidebar__row__sidebar--light
	background-color: $fpf-sidebar
