.logo
	display: block

	g path
		fill: white

.logo--mobile
	display: none

.logo--mobile-xs
	display: none
	max-width: 100%


@media (max-width: $small-screen)

	.logo--desktop
		display: none

	.logo--mobile
		display: block
		height: $header-logo-height-mobile
		width: 100%

	.logo--mobile-xs
		display: none


@media (max-width: $extra-small-screen)

	.logo--deskop
		display: none

	.logo--mobile
		display: none

	.logo--mobile-xs
		display: block
