// CATEGORY COLORS
$border-colors: (
	arrest-detention: $arrest-color,
	equipment-search-seizure-or-damage: $equipment-seizure-color,
	border-stop-denial-of-entry: $border-stop-color,
	subpeonas: $subpeona-color,
	documented-cases-of-surveillance: $documented-cases-of-surveillance-color,
	physical-assaults: $physical-assaults-color,
	leak-prosecutions: $leak-prosecution-color ,
	us-precident-cited-abroad: $us-precident-cited-abroad-color,
);

$background-colors: (
	blue: $blue-klien,
	green: $green-vida-loca,
	orange: $gamboge,
	dark-gray: $gray-dark,
	purple: $purple-cadillac,
);

$text-size-choices: (
	small: 0.8em,
	normal: 1em,
	large: 1.2em,
	jumbo: 1.5em
);

$font-family-choices: (
	serif: $serif,
	sans-serif: $sans-serif
);

$text-align-choices: (
	left: left,
	center: center,
	right: right
);
