.methodology
	padding-top: 1rem
	padding-bottom: 1rem

	&:not(:first-child)
		border-top: 1px solid darken($gray-light, 5%)


.methodology__title
	+section-heading

.methodology__text
	margin-bottom: 0.5rem

.methodology__link
	+section-heading
	+blue-link
	color: $gray-mid-text
