=uppercase
	letter-spacing: 0.05em
	text-transform: uppercase

=light-gray-text-small
	color: $gray-light-text
	font-weight: $sans-regular
	font-size: 0.83em

=list-unstyled
	list-style-type: none
	margin: 0
	padding: 0

=list-comma-separated
	&:after
		content: ", "

	&:last-child::after
		content: ""

=p-remove-first-and-last-margin
	p:first-child
		margin-top: 0

	p:last-child
		margin-bottom: 0

=blue-link
	a
		text-decoration-color: $gray-light
		color: $blue-dark-link
		&:hover,
		&:focus,
		&:active
			color: $blue-dark-link-hover
			text-decoration-color: darken($gray-light, 10%)
