// UTILITIES

=clearfix
	&::after
		content: ""
		display: table
		clear: both

=hover
	&:hover,
	&:focus,
	&:active
		@content

=embiggen-large
	@media(min-width: $large-screen-min)
		font-size: 1.1rem

=embiggen-large--more
	@media(min-width: $large-screen-min)
		font-size: 1.2rem


// FLEX

=flex-vertically-centered-row
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: center


=flex-center-center-row
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center


// LISTS

=list-unstyled
	list-style-type: none
	margin: 0
	padding: 0

=list-comma-separated($punct: ',')
	&::after
		content: '#{$punct} '

	&:last-child::after
		content: ''

=list-comma-separated--human($punct: ',')
	+list-comma-separated($punct)

	&:nth-last-child(2)::after
		content: '#{$punct} and '

	&:first-child:nth-last-child(2)::after
		content: ' and '


// TYPOGRAPHY

=uppercase
	letter-spacing: 0.05em
	text-transform: uppercase

=light-gray-text-small
	color: lighten($gray-mid-text, 3%)
	font-weight: $sans-regular
	font-size: 0.9em

=p-remove-first-and-last-margin
	p:first-child
		margin-top: 0

	p:last-child
		margin-bottom: 0

=section-heading
	+uppercase
	margin: 0 0 10px 0
	font-weight: normal
	font-size: 0.9rem
	@media(min-width: $large-screen-min)
		font-size: 1rem



// LINKS

=link-transition
	transition-duration: 0.1s
	transition-timing-function: linear
	transition-property: color, background-color

// note that this one does goes on a parent of the link
=title-link
	color: $black
	text-decoration: none

	+hover
		color: $black
		text-decoration: underline

=underline-link
	a
		color: inherit
		text-decoration: none
		transition: color ease-in 0.15s

		+hover
			color: $black
			text-decoration: underline

=blue-link
	a
		text-decoration-color: lighten($gray-mid-text, 10%)
		color: $blue-dark-link

		+hover
			color: $blue-dark-link-hover
			text-decoration-color: $gray-mid-text, 10%

=gray-link
	a,
	.rich-text > a
		transition: color ease-in 0.15s
		color: inherit
		text-decoration: none

		+hover
			color: darken($gray-light, 10%)

=white-link
	a,
	.rich-text > a,
	.rich-text p a
		text-decoration: none
		color: $white-link
		transition: color ease 0.15s

		+hover
			color: $white
