=uppercase
	letter-spacing: 0.05em
	text-transform: uppercase

=light-gray-text-small
	color: $gray-light-text
	font-weight: $sans-regular
	font-size: 0.83em

=p-remove-first-and-last-margin
	p:first-child
		margin-top: 0

	p:last-child
		margin-bottom: 0
