.page-title
	font-size: 3rem
	font-family: $serif
	font-weight: $serif-regular
	margin-top: 0

	&--less-margin
		margin-bottom: 0.5em

.page-title--in-header
  @media(max-width: $small-screen)
    padding-left: $column-gutter-width
