.partner-logos
	margin-top: 1rem
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: flex-start


.partner-logos__logo
	max-width: 100px
	height: auto
	margin-left: 0.5rem

.partner-logos__header
	+section-heading
	+white-link
	font-weight: $serif-regular
