.radio-pill
	$bg: $light-violet
	$bg-selected: $medium-violet
	$fg: $white
	$radius: 5px
	$border-color: $black


	&__item
		transition: all 0.15s linear
		padding: 0.5em 0.8em
		border: 0
		border-style: solid
		border-color: $border-color
		border-right-width: 1px
		background-color: $bg
		color: $fg
		font-weight: 300

	&__item:first-child
		border-top-left-radius: $radius
		border-bottom-left-radius: $radius

	&__item:last-child
		border-top-right-radius: $radius
		border-bottom-right-radius: $radius
		border-right-width: 0

	&__item:hover,
	&__item:focus,
	&__item:active,
	&__item--selected
		background-color: $bg-selected
