.related-links
	border-top: 1px solid #ddd
	margin-bottom: 1rem

.related-links__header
	+uppercase
	font-weight: $sans-regular
	font-size: 0.9rem
	color: $gray-mid-text
	margin: 1.5rem 0 0.5rem 0

.related-links__list
	margin: 0 0 0 0
	padding-left: 1.25rem

.related-links__item
	color: $gray-light
	margin-bottom: 0.5rem
	padding-left: 0.25rem
