.layout-right-sidebar
  box-sizing: border-box
  display: inline-block
  margin: 0 auto

.layout-right-sidebar__row
  margin: 0 $row-margin-side $row-margin-bottom $row-margin-side
  // clearfix hack - puts rows in the right place
  &:before, &:after
    content: ""
    display: table
    clear: both

.layout-right-sidebar__main
  width: $main-content-width
  padding: 0 0.5%
  float: left

.layout-right-sidebar__main--half-width
  width: $half-main-width

.layout-right-sidebar__main--no-margin
  margin: 0

.layout-right-sidebar__main--centered
  text-align: center

.layout-right-sidebar__sidebar
  width: $sidebar-width
  float: right

@media(max-width: $small-screen)
  .layout-right-sidebar
    margin: 0 $main-content-margin

  .layout-right-sidebar__main, .layout-right-sidebar__sidebar
    float: none
    width: 100%


