.search-block
	display: flex
	flex-direction: column
	justify-content: space-between
	align-items: center
	width: 50%
	min-height: 18.5em
	padding: 1.9em

	background-color: $purple
	color: white

	@media(max-width: $small-screen)
		width: 100%


.search-block__intro
	margin: 0 10%

	font-size: 1.7em
	font-weight: 300
	line-height: 1.2
	letter-spacing: 1px
	text-align: center

.search-block__button
	padding: 0.6em 1.5em
	background-color: transparent
	color: white
	border-color: white
	letter-spacing: 1px

	&:hover
		background-color: white
		color: $purple

.search-form
	width: 60%
	position: relative

.search-form__icon
	position: absolute
	left: 0
	height: 2.5em
	width: auto
	fill: white

.search-form__input
	width: 100%
	font-size: 1.9em
	font-weight: 300

	text-align: center

	background-color: transparent
	color: white
	border-width: 0
	border-bottom-width: 1px

	&::placeholder
		color: rgba(255, 255, 255, 0.6)
