.section-heading
	+section-heading
	+blue-link
	color: $gray-mid-text

	.section-heading__subject
		color: $gray-mid-dark-text
		font-weight: $sans-bold


.section-heading--light
	color: $fpf-grey-light

.section-heading--margin-top
	margin-top: $category-header-margin-top
