.section-heading
	+section-heading
	color: $gray-mid-text

	&__subject
		color: $gray-mid-dark-text
		font-weight: $sans-bold

		&--link
			color: $gray-mid-dark-text
			text-decoration: none

		&--link:hover
			text-decoration: underline
			text-decoration-color: $black
			color: $black


	&--light
		color: $gray-very-light

	&--margin-top
		margin-top: $category-header-margin-top
