.simple-page
	background-color: $white

	&__sidebar
		background-color: $gray-very-light
		padding: 1rem 0 0
		display: flex
		flex-direction: column
		align-items: stretch
		font-size: 1.1rem

	&__sidebar-menu
		+list-unstyled
		+underline-link
		color: $gray-mid-text

	&__sidebar-link
		padding: 0.25em 0
		display: block
