.simple-page
	background-color: $white

	&__sidebar
		background-color: $gray-very-light
		padding: 1em 0 0 .5em
		display: flex
		flex-direction: column
		align-items: stretch
		font-size: 1.1em

	&__sidebar-menu
		+list-unstyled
		+underline-link
		color: $gray-mid-text

	&__sidebar-item
		&--active
			font-weight: $sans-bold
			color: $black

	&__sidebar-link
		padding: 0.25em 0
		display: block
