.stream-sections
	padding: 2rem
	margin-bottom: 1rem
	:last-child
		margin-bottom: 0

.stream-section--outline
	border-top: 1px solid $gray-light
	border-bottom: 1px solid $gray-light

.stream-section--white:first-child
	padding-top: 0
