.stream-sections
	margin-bottom: 1rem

.stream-section
	+p-remove-first-and-last-margin
	padding: 0 $simple-page-padding
	color: $white

.stream-section--outline
	border-top: 1px solid $gray-light
	border-bottom: 1px solid $gray-light

.stream-section--white:first-child
	padding-top: 0


@each $name, $color in $background-colors
 	.stream-section--#{$name}
 		background-color: $color
 		padding-top: 1em
 		padding-bottom: 1em

.stream-section--white
	color: $black
	padding-top: 0
	padding-bottom: 0
