.teaser-image
	&--horizontal
		background-position: center
		background-size: cover

		+gray-except-hover

	&__image
		display: block
		width: 100%

		+gray-except-hover

		// Used in single-column layout
		@media (min-width: $medium-screen-min)
			&--horizontal
				display: none
