// COLORS
$fpf-grey-light: #e1e7eb
$black: #000
$gray-very-light: #f0f3f5
$gray-medium-dark: #4b4c4d
$blue-link: #1297ba
$blue-link-hover: #1a5e70
$header-color: #2d2e2e
$arrest-color: #ff960d
$equipment-seizure-color: #5b9932

// LAYOUT
$page-margin-side: 15px
$incident-card-margin: 3%
$column-gutter-width: 20px
$sidebar-width: 300px
$half-main-width: 50%

$row-margin-bottom: 20px

// INCIDENTS
$title-top-margin: 20px
$related-cases-margin: $row-margin-bottom / 2

// media breakpoints
$small-screen: 700px
$extra-small-screen: 400px
