// COLORS
$fpf-grey-light: #e1e7eb
$black: #000
$gray-very-light: #f0f3f5
$blue-link: #1297ba
$blue-link-hover: #1a5e70
$arrest-color: #ff960d
$equipment-seizure-color: #5b9932

// LAYOUT
$main-content-width: 66%
$main-content-margin: 1%
$sidebar-width: 99% - $main-content-width - $main-content-margin
$half-main-width: $main-content-width/2 - $main-content-margin
$row-margin: 20px
