// COLORS
$fpf-grey-light: #e1e7eb
$black: #000
$gray-very-light: #f0f3f5
$blue-link: #1297ba
$blue-link-hover: #1a5e70
$header-color: #2d2e2e
$arrest-color: #ff960d
$equipment-seizure-color: #5b9932

// LAYOUT
$page-margin-side: 1.5%
$main-content-width: 66%
$main-content-margin: 1%
$sidebar-width: 96% - $main-content-width - ($main-content-margin * 2) - ($page-margin-side * 2)
$incident-card-margin: 3%
$half-main-width: $main-content-width / 2

$row-margin-bottom: 20px

// INCIDENTS
$title-top-margin: 20px
$related-cases-margin: $row-margin-bottom / 2

// media breakpoints
$small-screen: 700px
