# The full web team are codeowners for all website changes
*   @harrislapiroff @chigby @SaptakS @dkaoster

# Harris should be in the loop on all ownership modifications
.github/CODEOWNERS    @harrislapiroff
