{% load static %}

<div class="incident incident--arrest">
	<img class="incident__top-image" src="{% static 'styleguide/voactiv.jpg' %}" />
	<div class="incident__body">
		<h3 class='incident__category-name incident__category-name--arrest'>
			Arrest
		</h3>
		<h1 class='incident__title'>
			Voactiv journalist charged with rioting in Washington
		</h1>
		<h5 class='incident__date'>
			January 20, 2017
		</h5>
		<div class="incident__description">
			<section>
				<p>Police arrested Evan Engel, a senior producer at the news website Vocativ, near 12th and L streets in downtown Washington the morning of January 20. Engel is charged with rioting that results in bodily harm or more than $5,000 in damage, which can be punished by a maximum of 10 years in jail and fines of up to $25,000, according to The U.S. Attorney's Office for the District of Columbia.</p>
				<p>The reporters were among more than 230 people arrested in Washington on Inauguration Day after individuals set fire to a car and broke windows of downtown businesses.</p>
				<p>Police also seized Engel's camera and mobile phone.</p>
			</section>
		</div>
		<div class="incident__update-item">
			<h5 class='incident__date'>
				January 27, 2017
			</h5>
			<div class="incident__description">
				<section>
					<p>The U.S. Attorney’s office announced on Jan. 27 that it was dropping charges against Engel, saying, “After consultation with the counsel for Mr. Engel, who is a journalist with Vocativ, as well as a review of evidence presented to us by law enforcement, we have concluded that we will not proceed with the charge against this individual.”</p>
				</section>
			</div>
		</div>
	</div>
</div>
