{% load wagtailcore_tags wagtailroutablepage_tags %}

{% if page.blog_index_page %}
<section class="blog-sidebar">

	<h2 class="section-heading">
		{{ label }}
		<a class="section-heading__icon" href="{% routablepageurl page.blog_index_page "feed" %}" title="RSS Feed">
			{% include "common/_rss_icon.svg" %}
			<span class="sr-only">RSS feed</span>
		</a>
	</h2>

	{% for page in page.blog_index_page.get_posts|slice:":4" %}
		{% include "blog/_blog_tease.html" with location="homepage" page=page.specific %}
	{% endfor %}

	<a
		class="button button--outline button--expand-full"
		href="{% pageurl page.blog_index_page %}"
	>
		{{ link_label }}
	</a>
</section>
{% endif %}
