{% load wagtailcore_tags typogrify_tags %}

{% with search_page=settings.common.SearchSettings.search_page %}
{% if search_page %}

	{% with features=features %}
		{% include "common/_section_heading.html" with label=label %}
		{% include "incident/_filters.html" with apply_externally=True external=search_page change_filters_message=page.change_filters_message %}

		<div class="grid-50">
			{% for related in features|slice:":2" %}
				<div class="grid-50__item">
					{% if related.content_type.model == 'blogpage' %}
						{% include "blog/_blog_grid.html" with location="homepage" page=related %}
					{% elif related.content_type.model == 'topicpage' %}
						{% include "incident/_topic_page_teaser.html" with page=related %}
					{% elif related.content_type.model == 'incidentpage' %}
						{% include "incident/_incident.html" with incident=related teaser=True %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
		{% include "home/_intro.html" with text=page.about read_more=page.about_page %}
		<div class="grid-50">
			{% for related in features|slice:"2:" %}
				<div class="grid-50__item">
					{% if related.content_type.model == 'blogpage' %}
						{% include "blog/_blog_grid.html" with location="homepage" page=related %}
					{% elif related.content_type.model == 'topicpage' %}
						{% include "incident/_topic_page_teaser.html" with page=related %}
					{% elif related.content_type.model == 'incidentpage' %}
						{% include "incident/_incident.html" with incident=related teaser=True %}
					{% endif %}
				</div>
			{% endfor %}
		</div>
	{% endwith %}
	<a
		class="button button--outline button--center"
		href="{% pageurl search_page %}"
	>
		{{ link_label }}
	</a>

{% endif %}
{% endwith %}
