{% load wagtailcore_tags typogrify_tags %}

{% with search_page=settings.common.SearchSettings.search_page %}
{% if search_page %}

	{% with incidents=incidents %}
		{% include "common/_section_heading.html" with label=label %}
		{% include "incident/_filters.html" with apply_externally=True external=search_page change_filters_message=page.change_filters_message %}

		<div class="grid-50">
			{% for related in incidents|slice:":2" %}
				<div class="grid-50__item">
					{% include "incident/_incident.html" with incident=related.page.specific teaser=True %}
				</div>
			{% endfor %}
		</div>
		{% include "home/_intro.html" with text=page.about read_more=page.about_page %}
		<div class="grid-50">
			{% for related in incidents|slice:"2:" %}
				<div class="grid-50__item">
					{% include "incident/_incident.html" with incident=related.page.specific teaser=True %}
				</div>
			{% endfor %}
		</div>
	{% endwith %}
	<a
		class="button button--outline button--center"
		href="{% pageurl search_page %}"
	>
		{{ link_label }}
	</a>

{% endif %}
{% endwith %}
