{% load wagtailcore_tags typogrify_tags %}

{% if page.incident_index_page %}
	<section class="incidents-sidebar">

		{% include "common/_section_heading.html" with label=label %}

		<ul class="incidents-sidebar__list">
			{% with incidents=page.incident_index_page.get_incidents|slice:":5" %}
				{% for incident in incidents %}
					<li class="incidents-sidebar__item">
						<a class="incidents-sidebar__link" href="{% pageurl incident %}">
							<div class="incidents-sidebar__title">
								{{ incident.title|typogrify }}
							</div>
							<time class="incidents-sidebar__date" datetime="{{ incident.date }}">
								{% include "incident/_incident_date.html" %}
							</time>
						</a>
					</li>
				{% endfor %}
			{% endwith %}
		</ul>

		<a
			class="button button--outline button--expand-full"
			href="{% pageurl page.incident_index_page %}"
		>
			{{ link_label }}
		</a>

	</section>
{% endif %}
