{% load wagtailcore_tags wagtailroutablepage_tags typogrify_tags %}


{% with search_page=settings.common.SearchSettings.search_page %}
{% if search_page %}
	<section class="incidents-sidebar">

		<h2 class="section-heading">
			{{ label }}
			<a class="section-heading__icon" href="{% routablepageurl search_page "feed" %}" title="RSS Feed">
				{% include "common/_rss_icon.svg" %}
				<span class="sr-only">RSS feed</span>
			</a>
		</h2>

		<ul class="incidents-sidebar__list">
			{% with incidents=search_page.get_incidents|slice:":5" %}
				{% for incident in incidents %}
					<li class="incidents-sidebar__item">
						<a class="incidents-sidebar__link" href="{% pageurl incident %}">
							<div class="incidents-sidebar__title">
								{{ incident.title|typogrify }}
							</div>
							<time class="incidents-sidebar__date" datetime="{{ incident.date }}">
								{% include "incident/_incident_date.html" %}
							</time>
						</a>
					</li>
				{% endfor %}
			{% endwith %}
		</ul>

		<a
			class="button button--outline button--expand-full"
			href="{% pageurl search_page %}"
		>
			{{ link_label }}
		</a>

	</section>
{% endif %}
{% endwith %}
