{% load wagtailcore_tags %}
{% include "common/_section_heading.html" %}
{% if stats %}
	<div class="stats">
		{% for stat in stats %}
				{% if stat.link %}
					<a class="stats__item stats__item--link" style="background-color: {{ stat.color }}" href="{% pageurl stat.link %}">
						<span class="stats__number">
							{{ stat.value }}
						</span>
						<span class="stats__label">
							{{ stat.label }}
						</span>
					</a>
				{% else %}
					<div class="stats__item" style="background-color: {{ stat.color }}">
						<span class="stats__number">
							{{ stat.value }}
						</span>
						<span class="stats__label">
							{{ stat.label }}
						</span>
					</div>
				{% endif %}
		{% endfor %}
	</div>
{% endif %}
