{% load wagtailcore_tags render_as_template %}


{% if stats %}
	{% include "common/_section_heading.html" with label=label %}
	<div class="stats">
		{% for stat in stats %}
				{% if stat.link %}
					<a class="stats__item stats__item--link stats__item--{{ stat.color }}" href="{% pageurl stat.link %}">
						<span class="stats__number">
							{% render_as_template stat.value %}
						</span>
						<span class="stats__label">
							{{ stat.label }}
						</span>
					</a>
				{% else %}
					<div class="stats__item stats__item--{{ stat.color }}">
						<span class="stats__number">
							{% render_as_template stat.value %}
						</span>
						<span class="stats__label">
							{{ stat.label }}
						</span>
					</div>
				{% endif %}
		{% endfor %}
	</div>
{% endif %}
