{% extends "base.html" %}

{% load pageurl richtext from wagtailcore_tags %}
{% block main %}

	<h1 class="page-title" id="title">
		The U.S. Press Freedom Tracker
	</h1>

	{% with search_page=settings.common.SearchSettings.search_page %}
		{% if search_page %}
			{% pageurl search_page as search_page_url %}
			<div class="search-block">
				<div class="search-block-all-btn">
					<a href="{{ search_page_url }}" class="btn btn-primary btn-block">Go to incidents database</a>
				</div>
				<div class="search-block-search-bar">
					{% include "incident/_search_bar.html" with action=search_page_url %}
				</div>
			</div>
		{% endif %}
	{% endwith %}

	{% if page.about %}
		<div class="site-summary">
			{{ page.about|richtext }}
		</div>
	{% endif %}

	<section class="homepage-section homepage-section--gray">
		<div class="homepage-section-inner">
			{% include "home/_blog_section.html" with label=page.featured_blog_posts_label more_label=page.featured_blog_posts_more_label %}
		</div>
	</section>

	<section class="homepage-section">
		<div class="homepage-section-inner">
			{% include "home/_featured_incidents_section.html" with label=page.featured_incidents_label more_label=page.featured_incidents_more_label %}
		</div>
	</section>

	<section class="homepage-section homepage-section--gray">
		<div class="homepage-section-inner">
			{% include "home/_categories_section.html" with label=page.categories_label body=page.categories_body %}
		</div>
	</section>

	{% with search_page=settings.common.SearchSettings.search_page %}
		{% if search_page %}
			<section class="homepage-section">
				<div class="homepage-section-inner">
					{% include "home/_recent_incidents_section.html" with label=page.recent_incidents_label more_label=page.recent_incidents_more_label count=page.recent_incidents_count %}
				</div>
			</section>
		{% endif %}
	{% endwith %}

{% endblock %}
