{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}
{% block top_sidebar_class %}layout-right-sidebar__sidebar--light{% endblock %}
{% block sidebar_class %}layout-right-sidebar__sidebar--light{% endblock %}

{% block main %}
	{% include "home/_stats.html" with label="Press Freedom in 2017" stats=recent_incidents %}
	{% include "home/_recent_incidents.html" %}
{% endblock %}

{% block sidebar %}
	{% include "home/_blog_sidebar.html" %}
{% endblock %}

{% block bottom %}
	{% include "home/category_block.html" %}
	{% include "home/search_block.html" %}
{% endblock %}
