{% extends "base.html" %}

{% block head %}
	{{ block.super }}
	{% if settings.common.SearchSettings.search_page %}
		{% include "common/_rss_autodiscovery.html" with page=settings.common.SearchSettings.search_page %}
	{% endif %}
{% endblock %}

{% block body_class %}template-homepage{% endblock %}

{% block top_sidebar_class %}
	{{ block.super }}
	layout-right-sidebar__sidebar--light
{% endblock %}

{% block sidebar_class %}layout-right-sidebar__sidebar--light{% endblock %}

{% block main %}
	{% include "home/_stats.html" with label=page.statboxes_label stats=page.statboxes.all %}
	{% include "home/_featured_articles.html" with label=page.featured_pages_label link_label=page.featured_more_label %}
{% endblock %}

{% block sidebar %}
	{% include "home/_incidents_sidebar.html" with label=page.recent_incidents_label link_label=page.recent_more_label %}
	{% include "home/_blog_sidebar.html" with label=page.blog_label link_label=page.blog_more_label %}
{% endblock %}
