-e git+https://github.com/freedomofpress/django-logging.git@dfd8904#egg=django-logging-json
beautifulsoup4==4.6.0     # via wagtail
bleach==2.1.2
certifi==2018.1.18        # via requests
chardet==3.0.4            # via requests
click==6.7                # via pip-tools
decorator==4.2.1          # via ipython, traitlets
dj-database-url==0.4.2
django-analytical==2.4.0
django-anymail==1.4
django-debug-toolbar==1.9.1
django-modelcluster==3.1
django-recaptcha==1.4.0
django-settings-export==1.2.1
django-taggit==0.22.2     # via wagtail
django-treebeard==4.2.0   # via wagtail
django-webpack-loader==0.5.0
django==1.11.10
djangorestframework==3.6.4  # via wagtail
docutils==0.14
elasticsearch==2.4.1
factory-boy==2.8.1
faker==0.8.11             # via factory-boy
first==2.0.1              # via pip-tools
gunicorn==19.7.1
html5lib==0.999999999     # via bleach, wagtail
idna==2.6                 # via requests
ipdb==0.11
ipython-genutils==0.2.0   # via traitlets
ipython==6.2.1            # via ipdb
jedi==0.11.1              # via ipython
jinja2==2.10
markupsafe==1.0           # via jinja2
parso==0.1.1              # via jedi
pexpect==4.4.0            # via ipython
pickleshare==0.7.4        # via ipython
pillow==5.0.0             # via wagtail
pip-tools==1.11.0
prompt-toolkit==1.0.15    # via ipython
psycopg2==2.7.4
ptyprocess==0.5.2         # via pexpect
pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1    # via faker
pytz==2018.3              # via django, django-modelcluster
requests==2.18.4          # via django-anymail, wagtail
simplegeneric==0.8.1      # via ipython
six==1.11.0               # via bleach, django-anymail, faker, html5lib, pip-tools, prompt-toolkit, python-dateutil, traitlets, unittest-xml-reporting
smartypants==2.0.1        # via typogrify
sqlparse==0.2.4           # via django-debug-toolbar
text-unidecode==1.1       # via faker
traitlets==4.3.2          # via ipython
typing==3.6.4             # via ipython
typogrify==2.0.7
unidecode==1.0.22         # via wagtail
unittest-xml-reporting==2.1.1
urllib3==1.22             # via elasticsearch, requests
wagtail-django-recaptcha==0.2
wagtail-factories==0.3.0
wagtail-metadata==0.4.1
wagtail==1.12.3
wcwidth==0.1.7            # via prompt-toolkit
webencodings==0.5.1       # via html5lib
willow==0.4               # via wagtail
