-e git+https://github.com/freedomofpress/django-logging.git@dfd8904#egg=django-logging-json
beautifulsoup4==4.6.0     # via wagtail
bleach==2.1.2
certifi==2018.1.18        # via requests
chardet==3.0.4            # via requests
click==6.7                # via pip-tools
dj-database-url==0.5.0
django-analytical==2.4.0
django-anymail==1.4
django-modelcluster==3.1
django-recaptcha==1.4.0
django-settings-export==1.2.1
django-taggit==0.22.2     # via wagtail
django-treebeard==4.2.0   # via wagtail
django-webpack-loader==0.6.0
django==1.11.10
djangorestframework==3.6.4  # via wagtail
docutils==0.14
elasticsearch==2.4.1
factory-boy==2.8.1
faker==0.8.11             # via factory-boy
first==2.0.1              # via pip-tools
gunicorn==19.7.1
html5lib==0.999999999     # via bleach, wagtail
idna==2.6                 # via requests
jinja2==2.10
markupsafe==1.0           # via jinja2
pillow==5.0.0             # via wagtail
pip-tools==1.11.0
psycopg2==2.7.4
pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1    # via faker
pytz==2018.3              # via django, django-modelcluster
requests==2.18.4          # via django-anymail, wagtail
six==1.11.0               # via bleach, django-anymail, faker, html5lib, pip-tools, python-dateutil, unittest-xml-reporting
smartypants==2.0.1        # via typogrify
text-unidecode==1.2       # via faker
typogrify==2.0.7
unidecode==1.0.22         # via wagtail
unittest-xml-reporting==2.1.1
urllib3==1.22             # via elasticsearch, requests
wagtail-django-recaptcha==0.2
wagtail-factories==0.3.0
wagtail-metadata==0.4.1
wagtail==1.12.3
webencodings==0.5.1       # via html5lib
willow==0.4               # via wagtail
