https://github.com/freedomofpress/django-logging/zipball/15da352a0196c2ffdd9b5c47a08582f62b3c8e4a
bleach>=3.1.3
dj-database-url
Django>=2.2.24,<2.3
django-anymail
django-csp>=3.7
django-modelcluster
django-recaptcha
django-settings-export
django-storages[google]
django-webpack-loader
djangorestframework-csv
docutils
factory_boy>=3.2.0
gunicorn
Jinja2>=2.11.3
marshmallow
psycopg2>=2.8.4
Pygments
python-json-logger
pyparsing
typing
typogrify
wagtail>=2.11.8,<2.12
wagtail-autocomplete>=0.6
wagtail-factories>=2.0.1
wagtail-django-recaptcha
wagtail-livepreview
wagtail-metadata>=3.4.0
unittest-xml-reporting
wagtail-inventory>=1.1
whitenoise
