beautifulsoup4
Django>=5.2.13,<6.0
djangorestframework>=3.14
django-anymail
django-autocomplete-light
django-csp>=3.7
django-modelcluster>=6.2.1
django-settings-export
django-storages[google]>=1.14.6
django-webpack-loader
django-widget-tweaks
djangorestframework-csv
djangorestframework>=3.14
docutils
drf-spectacular[sidecar]>=0.22.1
factory_boy>=3.3.3
gunicorn
Jinja2>=3.1.6
lxml>=6.1.1
mailchimp_marketing>=3.0.66
marshmallow>=4.3.0,<5
nh3>=0.3
pillow>=12.3.0
psycopg[binary]
Pygments>=2.20.0
requests>=2.34.2
structlog
typogrify
unittest-xml-reporting
wagtail-autocomplete>=0.12.0
wagtail-django-recaptcha
wagtail-factories>=4.5.0
wagtail-honeypot
wagtail-inventory>=3.1
wagtail-metadata>=5.0.0
wagtail-newsletter[mailchimp,mrml]
wagtail>=7.4.2,<8.0
whitenoise
google-api-python-client
python-dateutil>=2.9.0
