bleach>=4.1.0
dj-database-url
Django>=3.2.16,<3.3
django-anymail
django-csp>=3.7
django-modelcluster
django-recaptcha
django-settings-export
django-storages[google]
django-webpack-loader
django-widget-tweaks==1.4.12
djangorestframework-csv
drf-spectacular[sidecar]>=0.22.1
docutils
factory_boy>=3.2.0
gunicorn
Jinja2>=2.11.3
mailchimp_marketing>=3.0.66
marshmallow
psycopg2>=2.8.4,<2.9
Pygments
python-json-logger
pyparsing
structlog>=21,<22
typing
typogrify
wagtail>=4.1,<4.2
wagtail-autocomplete>=0.9.0
wagtail-factories>=3.1.0
wagtail-django-recaptcha
wagtail-metadata>=4
unittest-xml-reporting
whitenoise
