-e git+https://github.com/freedomofpress/django-logging.git@b7d0b7b542db6ac088dbf3d2e7b249df333d3082#egg=django-logging-json
beautifulsoup4==4.6.0     # via wagtail
bleach==3.1.0
certifi==2019.3.9         # via requests
chardet==3.0.4            # via requests
click==7.0                # via pip-tools
dj-database-url==0.5.0
django-analytical==2.5.0
django-anymail==6.0
django-modelcluster==4.3
django-recaptcha==2.0.2
django-settings-export==1.2.1
django-taggit==0.23.0     # via wagtail
django-treebeard==4.3     # via wagtail
django-webpack-loader==0.6.0
django==2.1.11
djangorestframework==3.9.2  # via wagtail
docutils==0.14
draftjs-exporter==2.1.5   # via wagtail
factory-boy==2.11.1
faker==1.0.4              # via factory-boy
gunicorn==19.9.0
html5lib==1.0.1           # via wagtail
idna==2.8                 # via requests
jinja2==2.10
markupsafe==1.1.1         # via jinja2
pillow==5.4.1             # via wagtail
pip-tools==3.5.0
psycopg2==2.7.7
pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0    # via faker
python-json-logger==0.1.10
pytz==2018.9              # via django, django-modelcluster, wagtail
requests==2.21.0          # via django-anymail, wagtail
six==1.12.0               # via bleach, django-anymail, faker, html5lib, pip-tools, python-dateutil, unittest-xml-reporting, wagtail
smartypants==2.0.1        # via typogrify
text-unidecode==1.2       # via faker
typing==3.6.6
typogrify==2.0.7
unidecode==1.0.23         # via wagtail
unittest-xml-reporting==2.4.0
urllib3==1.24.1           # via requests
wagtail-autocomplete==0.3.1
wagtail-django-recaptcha==1.0
wagtail-factories==1.1.0
wagtail-metadata==2.0.1
wagtail-inventory==0.7
wagtail==2.3
webencodings==0.5.1       # via bleach, html5lib
willow==1.1               # via wagtail
