{% extends "wagtailadmin/base.html" %}
{% load i18n %}
{% block titletag %}{% trans 'Search' %}{% endblock %}
{% block extra_js %}
	{{ block.super }}

	<script>
		window.headerSearch = {
			url: "{% url 'incident-admin-search' %}",
			termInput: "#id_q",
			targetOutput: "#page-results"
		}
	</script>
{% endblock %}

{% block content %}
	{% trans "Search" as search_str %}
	{% include "wagtailadmin/shared/header.html" with title=search_str search_url="incident-admin-search" icon="search" %}

	<div id="page-results">
		{% include "wagtailadmin/incidentpages/search_results.html" %}
	</div>
{% endblock %}
