body
	font-family: Helvetica, Arial, sans-serif
	margin: 0px

.chartContainer
	display: table
	margin: auto
	border: solid 1px blue
	margin-top: 0
	margin-bottom: 1em

h1
	text-align: center


@media (min-width: 1000px)
	.hpChartContainer
		display: flex

.hpChart
	margin: auto
	display: table

