.article-title
	font-size: $font-size-h2
	line-height: 1
	font-weight: 400
	letter-spacing: -0.03em
	+constrain-to-desktop

	+tablet-up
		font-size: $font-size-h2-tab

	+desktop-up
		font-size: $font-size-h2-desktop
