.article-content
	+constrain-to-desktop

	.details-table
		margin-bottom: 2rem

		+tablet-up
			margin-bottom: 3.25rem

	&__inner
		+desktop-up
			max-width: 908px
			margin: auto

	img
		max-width: 100%

.article-meta
	+constrain-to-desktop
