.article-carousel
	&__items
		padding: 0
		+grid-container

		&--flex
			+tablet-down
				display: flex
				transition: transform 0.9s ease-in-out

	&__scroller
		display: none
		text-align: right

		&--visible
			+tablet-down
				display: block

		&--button
			background: transparent
			border-width: 0

			&[disabled] .arrow-path
				stroke: $gray-text

	&__item
		list-style-type: none
		grid-column: span 3
		margin-bottom: 2rem

		grid-column: span 4

		+tablet-down
			flex: 0 0 534px

		+mobile-down
			flex: 0 0 328px
