.aside
    &--reversed
        background-color: $black
        color: $white
        *
            color: inherit
        a:focus
            border-color: $white
        a:hover
            color: $black
