.blog-card
	border-top: 1px solid
	border-color: $black

	&--info
		margin-top: 12px
		margin-bottom: 0
		transition: margin-bottom 0.09s ease-in

	&__teaser
		margin-top: 12px
		margin-bottom: 12px

		&--sm
			display: none

	&--title
		margin-bottom: 0
