.button-row
	display: flex
	flex-flow: row wrap
	list-style: none
	margin-bottom: 32px
	padding: 0

	&--active
		color: $white
		background-color: $black

	&--item
		list-style-type: none
		display: inline-block
		padding: 1rem
		border: solid 3px
		border-color: $black
		margin-left: -3px
		margin-top: -3px
		font-weight: 700

		&:hover
			span::before
				filter: invert(1)

		&:focus
			z-index: 2
