.card-title
	&-big
		font-size: $font-size-card-title-l
		line-height: 1
		font-weight: 500

		+tablet-up
			font-size: $font-size-card-title-l-tab

		+desktop-up
			font-size: $font-size-card-title-l-desktop

	&-database
		font-weight: 500
		font-size: $font-size-database-card-title
		line-height: 1.25

		+tablet-up
			font-size: $font-size-database-card-title-tab

		+desktop-up
			font-size: $font-size-card-title-desktop

	&-small
		font-weight: 700
		font-size: $font-size-p
		line-height: 1.25

		+tablet-up
			font-size: $font-size-card-title-tab
			font-weight: 500

		+desktop-up
			font-size: $font-size-card-title-desktop
