.card-image
	margin-bottom: 0.75rem
	&-big
		display: block
		max-width: 100%

	&-small
		display: block
		max-width: 100%

	&-collapsible
		display: block
		max-width: 100%
		+mobile-down
			display: none
