.categorypage-section
	padding: 2rem 0

.categorypage-section-inner
	+constrain-to-desktop

.categorypage-section--flex
	+desktop-up
		display: flex
		flex-wrap: wrap

		> *
			flex: 1
			max-width: 50%

.categorypage-section--gray
	background-color: $section-background

.categorypage-count
	font-size: 1.75rem

	+desktop-up
		font-size: 2rem

.details-table__categorypage
	border-top: 1px solid
	border-color: $black

	.details-table
		&__row
			padding: 0.25rem 0
			align-items: flex-start

