.categories-block
	display: flex
	flex-flow: row wrap
	justify-content: center
	list-style: none
	margin: 72px 5rem
	padding: 0

	&--item
		list-style-type: none
		display: inline-block
		text-indent: 0
		padding: 1rem
		border: solid 3px
		border-color: $black
		margin-left: -3px
		margin-top: -3px
		font-weight: 700

		&:hover
			span::before
				filter: invert(1)
