.category
	&::before
		vertical-align: baseline
		margin-right: 4px
		display: inline-block
		width: max(14px, 0.75em)
		height: max(14px, 0.75em)
		top: 2px
		position: relative

	&-arrest::before
		background: url(../icons/categories/arrest.svg) no-repeat
		content: ''

	&-border_stop::before
		background: url(../icons/categories/border_stop.svg) no-repeat
		content: ''

	&-chilling_statement::before
		background: url(../icons/categories/chilling_statement.svg) no-repeat
		content: ''

	&-denial_of_access::before
		background: url(../icons/categories/denial_of_access.svg) no-repeat
		content: ''

	&-equipment_damage::before
		background: url(../icons/categories/equipment_damage.svg) no-repeat
		content: ''

	&-equipment_search::before
		background: url(../icons/categories/equipment_search.svg) no-repeat
		content: ''

	&-leak_case::before
		background: url(../icons/categories/leak_case.svg) no-repeat
		content: ''

	&-other_incident::before
		background: url(../icons/categories/other.svg) no-repeat
		content: ''

	&-assault::before
		background: url(../icons/categories/assault.svg) no-repeat
		content: ''

	&-prior_restraint::before
		background: url(../icons/categories/prior_restraint.svg) no-repeat
		content: ''

	&-subpoena::before
		background: url(../icons/categories/subpoena.svg) no-repeat
		content: ''
