.details-table
	position: relative

	&__incident-details
		margin-top: 0
		margin-bottom: 0

	&__row
		padding: 0.5rem 0
		border-bottom: 1px solid
		border-color: $tag-inactive

		+tablet-up
			display: flex
			align-items: center

		+desktop-up
			padding: 0.25rem 2rem
			border-color: $black

	&__label
		font-size: $font-size-small-p
		line-height: 1.43
		flex-shrink: 0

		+tablet-up
			width: 17.5rem

		+desktop-up
			width: 29.375rem

		&--bold
			font-weight: 700

	&__value
		margin-left: 0
		font-size: $font-size-small-p
		line-height: 1.43

	&__list
		list-style-type: none
		margin: 0
		padding: 0

	&__sublist
		list-style-type: none
		margin: 0
		padding: 0 0 0 0.5rem

	> .heading-table
		margin: 0
		border-bottom: 1px solid
		border-color: $black
		padding: 0.25rem 2rem

		+tablet-down
			padding: 0.5rem 0

	&__category-fields
		> .heading-table
			margin: 0
			border-bottom: 1px solid
			border-color: $black
			padding: 0.25rem 2rem

			+tablet-down
				padding: 0.5rem 0
				border-color: $tag-inactive

	.details-toggle-btn
		position: absolute
		top: 6px
		right: 24px
		display: none

		&.has-js
			display: block

			+desktop-up
				display: none

	&__container
		+tablet-down
			&[data-visible='false']
				display: none

			&[data-visible='true']
				display: block
