.emails-signup
	border-top: 1px solid
	border-color: $black

	&--inner
		padding: 32px 0
		+constrain-to-desktop

	&-content
		max-width: 670px

	&__input-container
		margin-bottom: 1rem

	&__submit-btn
		text-align: right
