.footer
	border-top: 5px solid
	border-color: $black
	background-color: $black

	> section
		padding: 2rem

		+ section
			border-top: 1px solid
			border-color: $black

		> *
			max-width: 672px

		> h2:first-of-type
			margin-top: 0
