.footer-info
	background-color: $black
	color: $gray-text

	a
		color: $white

		&:hover
			color: $black

		&:focus
			border-color: $white

	&__body
		font-size: $font-size-small-p
		line-height: 1.43

	&__nav
		margin-top: 2rem
		&-list
			padding: 0
			display: flex

		&-item
			list-style: none
			margin-right: 2rem

			+desktop-up
				margin-right: 3.5rem
