.formpage-body
    .styled-text
        margin-bottom: 2em

        +desktop-up
            max-width: 50%

    +constrain-to-desktop


.formpage-form
    padding: 2em 0
    background-color: $section-background
    border-bottom: $black 3px solid
    margin-bottom: 2em

    +desktop-up
        margin: 0 -2rem
        padding: 0.25rem 2rem

    +constrain-to-desktop

    .form
        fieldset
            margin-bottom: 2em
            padding: 0
            border: none
