.heading
	font-size: $font-size-h3
	line-height: 1
	font-weight: 400
	letter-spacing: -0.02em

	+tablet-up
		font-size: $font-size-h3-tab

	+desktop-up
		font-size: $font-size-h3-desktop

	&-regular
		font-size: $font-size-h4
		line-height: 1
		font-weight: 400

		+tablet-up
			font-size: $font-size-h4-tab

		+desktop-up
			font-size: $font-size-h4-desktop
