.incident-card
	border-top: 1px solid
	border-color: $black

.dl-inline
	display: grid
	grid-template-columns: auto 1fr
	gap: 0 1em

	dt
		font-weight: 700
		grid-column: 1

	dd
		grid-column: 2
		margin-left: 0

.tag-list
	display: flex
	flex-wrap: wrap
	list-style-type: none
	margin: 0
	padding: 0
	text-indent: 0
	align-items: flex-start
	align-content: flex-start

	li
		margin: 0 5px
		padding: 0
