.incident-tags
	margin-bottom: 2rem
	display: flex
	justify-content: space-between
	flex-direction: column
	gap: 6px
	+constrain-to-desktop

	+tablet-up
		margin-bottom: 3.25rem
		flex-direction: row
