.incident-database-card
	grid-column: 1 / -1
	padding-top: 1.5rem
	padding-bottom: 1.5rem
	border-bottom: solid 1px
	border-color: $black
	display: flex
	flex-direction: column

	+desktop-up
		display: grid
		+grid-columns(9, 2rem)

	&__title
		margin-top: 0

	&__title-link
		color: $black
		text-decoration: none

		&:hover
			text-decoration: underline

		&:focus
			outline-width: 0
			display: inline-block
			border: 3px solid
			border-color: $black

	&__section
		flex: 1 1
		+desktop-up
			grid-column: span 3

	&__tags
		line-height: 2.2

	&__details-title
		+desktop-up
			display: none

	&__details-container
		display: flex
		flex-wrap: wrap
		gap: 2rem

		+desktop-up
			grid-column: span 3
			flex-direction: row

	&__main-details
		flex: 1

	&__category-details
		flex: 1
		+desktop-up
			grid-column: span 3

	&__details-toggle
		align-self: flex-start
		+desktop-up
			display: none

.database-card-table
	position: relative

	&__incident-details
		margin-top: 0
		margin-bottom: 0

	&__category-details
		margin-top: 0
		margin-bottom: 0

	&__row
		padding: 0.5rem 0
		border-bottom: 1px solid
		border-color: $gray-text

		+tablet-up
			display: flex
			align-items: center

		+desktop-up
			padding: 0.25rem 0 0 0
			border: none

		&--inline
			display: block
			padding-left: 19px
			line-height: 0.5

			dt, dd
				margin-right: 0.25rem
				display: inline
				white-space: normal

	&__label
		font-size: $font-size-small-p
		line-height: 1.43
		white-space: nowrap
		margin-right: 1rem

		&--bold
			font-weight: 700

	&__value
		margin-left: 0
		font-size: $font-size-small-p
		line-height: 1.43

	&__list
		list-style-type: none
		margin: 0
		padding: 0

	.details-toggle-btn
		position: absolute
		top: 6px
		right: 24px

		+desktop-up
			display: none

	.database-card-toggle-btn
		+desktop-up
			display: none

	&__container
		+tablet-down
			&[data-visible='false']
				display: none

			&[data-visible='true']
				display: block

.heading-table
	margin: 0
	border-bottom: 1px solid
	border-color: $black
	padding: 0.25rem 0 0
	+tablet-down
		padding: 0.5rem 0

	+desktop-up
		border-bottom: none
