.incident-card
	border-top: 1px solid
	border-color: $black
	padding-top: 2rem

	&-collapsible
		.card-image-collapsible:last-of-type
			display: none

		&__show-more
			display: none

		+mobile-down
			padding-top: 0.5rem

			&.closed &__show-more,
			&.open &__show-more
				display: block

			&__toggle-button
				margin: 0.5rem 0
				text-decoration: underline
				display: flex
				align-items: center
				background: none
				border: 0
				padding: 0

			&__toggle-icon
				width: 0.8rem
				height: 0.8rem
				background-size: contain
				background-color: transparent
				background-image: url(../icons/plus.svg)
				background-repeat: no-repeat
				margin-left: 1rem

			.card-image-collapsible:last-of-type
				display: block

			&.closed
				.card-image-collapsible:last-of-type
					display: none

				.incident-card__categories,
				.database-card-table__incident-details,
				.tag-list
					display: none

			&.open
				.incident-card--inner .incident-card__categories,
				.incident-card--inner .database-card-table__incident-details,
				.incident-card--inner .card-image-collapsible:last-of-type
					display: block

				.incident-card--inner .tag-list
					display: flex

				.incident-card--inner &__toggle-icon
					background-image: url(../icons/cross.svg)

	&__categories
		list-style-type: none
		padding: 0

	&--inner
		+tablet-up
			transition: transform 0.15s ease-in-out
			&:hover
				transform: translateY(-0.5rem)
				cursor: pointer

				.text-link--card
					background-color: transparent
					text-decoration: underline

.dl-inline
	display: grid
	grid-template-columns: auto 1fr
	gap: 0 1em

	dt
		font-weight: 700
		grid-column: 1

	dd
		grid-column: 2
		margin-left: 0
