.incident-detail

	&__title
		+constrain-to-desktop

	&__tags
		+constrain-to-desktop

	&__figure
		margin: 2rem 0

	&__image
		max-width: 100%
		display: block
		margin: 0 auto

	&__caption
		max-width: 906px
		padding: 0 16px
		margin: 0 auto

	&__attribution
		text-transform: uppercase
