.info-table
	margin-bottom: 2em

	&--cols
		padding: 0
		margin: 0

	.list-table
		padding-left: 0
		padding-right: 0

		&__row
			padding: 0.25rem 0
			border-color: $tag-inactive

			+desktop-up
				border-color: $black
				margin: 0 -2rem
				padding: 0.25rem 2rem

		&__link
			a
				color: $gray-text
				text-decoration: none

		&--collapsed
			.list-table__row:nth-child(n+8)
				+tablet-down
					display: none

	&--col-2
		+tablet-up
			grid-template-columns: 240px 1fr

		+desktop-up
			grid-template-columns: 400px 1fr


	&--col-3
		grid-template-columns: 1fr auto

		+tablet-up
			grid-template-columns:  240px 2fr 1fr

		+desktop-up
			grid-template-columns:  400px 2fr 1fr

	&--col-3-desktop
		+tablet-up
			grid-template-columns: 1fr auto

		+desktop-up
			grid-template-columns:  400px 1fr min-content 1fr

			.info-table-row__hover-only
				width: 0
				height: 0
				grid-column: 3

				figure
					position: absolute
					top: -60px
					opacity: 0
					transition: all 0.25s
					pointer-events: none
					display: block

			&:hover
				.info-table-row__hover-only figure
					opacity: 1
					pointer-events: auto

	&__figure
		margin: 0.5em 0

	&__title
		font-weight: 700
		+desktop-up
			grid-column: 1

	&__url
		+desktop-up
			grid-column: 2

	&__col-right
		text-align: right

		+mobile-down
			grid-column: 2
			grid-row: 1 / span 2
			align-self: center

		+tablet-up
			grid-column: unset
			grid-row: unset

		.info-table--row-3 &
			grid-column: 2
			grid-row: 1 / span 3
			+desktop-up
				grid-column: 4
				grid-row: unset

	&__col-bottom
		align-self: end

.list-table-toggle-btn
	margin-top: 32px
	margin-inline: auto
	display: block

	+desktop-up
		display: none

	&[data-visible='false']
		display: none

@keyframes fade-in
	from
		opacity: 0
	to
		opacity: 1
