.methodology-section-header
	font-size: 2rem
	font-weight: 400
	margin-top: 0
	margin-bottom: 1rem
	border-bottom: 1px solid
	border-color: $black

.methodology-summary
	max-width: 670px

.methodology-details-table
	border-top: 1px solid
	border-color: $black
	.details-table
		&__row
			padding: 0.25rem 0
			align-items: flex-start

		&__label
			max-width: 200px

		&__value
			max-width: 440px
