.page-title
	font-size: $font-size-h1
	text-transform: uppercase
	line-height: 1
	font-weight: 300
	letter-spacing: -0.04em
	margin-bottom: 32px
	+constrain-to-desktop

	+tablet-up
		font-size: $font-size-h1-tab

	+desktop-up
		font-size: $font-size-h1-desktop
