.page-title
	margin: 0
	padding: 0
	font-weight: 300
	font-family: $font-base
	font-size: 60px
	line-height: 1em
	letter-spacing: -0.04em
	text-transform: uppercase

	+tablet-up
		font-size: 80px

	+desktop-up
		font-size: 144px
