.paragraph
	font-size: $font-size-p
	line-height: 1.33
	font-weight: 400

	&-subtitle
		line-height: 1.5
		font-weight: 700

		+desktop-up
			font-size: $font-size-p-desktop

	&-notes
		font-size: $font-size-small-p

	&-small-ui
		font-size: $font-size-small-ui

	&-number
		font-family: var(--font-mono)
		font-size: $font-size-number
