.blockquote
	font-size: $font-size-p
	font-style: italic
	line-height: 1.5

	&__link
		display: inline-block

	&__citation
		font-style: normal
		text-transform: uppercase

	// &__link

	+tablet-up
		font-size: $font-size-database-card-title-tab
		line-height: 1.333

.pullquote
	width: 100%

	+desktop-up
		width: 906px
		margin-left: calc( 673px - 906px )	// 673px is size of rest of content, 906px is width of pullquote

	&__text
		font-size: $font-size-h3
		letter-spacing: -0.01em
		line-height: 1

		+tablet-up
			font-size: $font-size-h3-tab
			letter-spacing: -0.02em
			line-height: 1.1

		+desktop-up
			font-size: $font-size-h3-desktop
			line-height: 1
			max-width: 900px
