.text-field
	width: 668px
	height: 300px
	border-color: $black
	border: 2px solid

	&--single
		width: 668px
		height: 24px
		border: none
		border-bottom: 1px solid
		font-style: italic
		font-size: $font-size-p-desktop
		line-height: 1.33

		&:focus
			border: 3px solid
			background: $tag-inactive-bg
			outline: none
