.text-link
	font-size: $font-size-small-p
	font-weight: 400
	line-height: 1.43
	color: $black

	&:hover
		background-color: $accent-color

	&:focus
		outline: $black solid 3px
		outline-offset: 2px

	&--card
		text-decoration: none
		display: inline-block

		+ p
			margin-top: 0.75rem

		&:hover
			background-color: transparent
			text-decoration: underline
