.text-link
	font-size: $font-size-small-p
	font-weight: 400
	line-height: 1.43
	color: $black

	&:hover
		background-color: $accent-color

	&:focus
		border: 3px solid
		border-color: $black

	&--card
		text-decoration: none
		display: inline-block
		margin-top: 2rem
		transition: margin-top 0.09s ease-in

		> h3
			margin: 0

		+ p
			margin-top: 0.75rem

		> img
			margin-bottom: 0.75rem

		&:hover
			background-color: transparent
			text-decoration: underline
			margin-top: 1.5rem

	&--category

		&::before
			vertical-align: middle
			margin-right: 4px

		&.arrest::before
			content: url(../icons/categories/arrest.svg)

		&.border_stop::before
			content: url(../icons/categories/border_stop.svg)

		&.chilling_statement::before
			content: url(../icons/categories/chilling_statement.svg)

		&.denial_of_access::before
			content: url(../icons/categories/denial_of_access.svg)

		&.equipment_damage::before
			content: url(../icons/categories/equipment_damage.svg)

		&.equipment_search::before
			content: url(../icons/categories/equipment_search.svg)

		&.leak_case::before
			content: url(../icons/categories/leak_case.svg)

		&.other_incident::before
			content: url(../icons/categories/other.svg)

		&.physical_attack::before
			content: url(../icons/categories/physical_attack.svg)

		&.prior_restraint::before
			content: url(../icons/categories/prior_restraint.svg)

		&.subpoena::before
			content: url(../icons/categories/subpoena.svg)
