.text-field
	width: 100%
	max-width: 668px
	height: 300px
	border-color: $black
	border: 2px solid

	&--single
		box-sizing: border-box
		width: 100%
		max-width: 668px
		border-width: 0
		border-bottom: 2px solid
		font-style: italic
		font-size: $font-size-small-ui
		line-height: 1.33
		padding: 0.125rem
		border-radius: 0

		&:focus
			background: $tag-inactive-bg
			outline: 3px solid #000
			// Remove the border bottom to make the outline
			// the only border on the bottom, but add 2px
			// padding to make up for it
			border-bottom: 0
			padding-bottom: calc(0.125rem + 2px)

	&--search-bar
		width: 100%
		border: 2px solid
		padding: 13px 24px
		font-style: italic
		font-size: $font-size-small-p
		appearance: none
		border-radius: 0
