.unconfirmed-incidents
	--max-count: 1
	table-layout: fixed
	border-collapse: collapse
	width: min(670px, 100%)
	margin: 10px 0

	thead
		border: solid 3px #000
		text-align: left
		background-color: $section-background

	tbody
		border: solid 3px #000
		font-size: 1rem

	th, td
		padding: 0.6em

	tr > :nth-child(1)
		width: 16%
		+mobile-down
			width: 24%
			padding-right: 0

	tr > :nth-child(2)
		width: 25%
		+mobile-down
			width: 36%
			padding-right: 0

	tr:nth-child(even)
		background-color: $section-background

	caption
		padding: 1em
		color: $gray-text
		caption-side: bottom
		font-size: $font-size-small-ui
		text-align: right
		+mobile-down
			padding: 0.6em

	tfoot td
		padding: 0
		border: solid 3px #000

		a
			border-style: none

			&:focus-visible
				outline: 3px solid #3584e4

			&::after
				right: -1px
				top: 0
				border-top-style: none
				border-bottom-style: none
				border-right-style: none

	&--count
		--min-unit: 1.6rem
		--max-unit: 25%
		box-sizing: border-box
		display: inline-flex
		align-items:center
		padding: 0 3px
		background-color: $black
		color: $white
		border: 3px solid
		border-color: $black
		font-size: 1.075rem
		font-weight: 700
		line-height: 1
		// width of one cell * incident count
		width: calc(var(--incident-count) * clamp(var(--min-unit), calc(100% / var(--max-count)), var(--max-unit)))
		min-width: max-content
		height: 1.6rem
		cursor: pointer
		-webkit-font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale

		+mobile-down
			--min-unit: 1rem
			padding: 0

		&:hover,
		&:focus-visible
			background-color: $white
			color: $black

.unconfirmed-incidents--page-title
	+mobile-down
		font-size: 3rem

.category-count-tooltip
	font-family: var(--font-base)
	font-size: 0.75rem
	font-weight: 700
	z-index: 99

	&--heading
		margin-top: 0
		margin-bottom: 10px
		line-height: 1.67

	&--row
		display: flex
		justify-content: space-between
		min-width: 200px
		margin: 8px 0

	&--name
		display: flex
		gap: 3px
		align-items: center
