.unconfirmed-incidents
	table-layout: fixed
	border-collapse: collapse
	width: 90%
	margin: 10px auto

	thead
		border: solid 4px #000
		text-align: left
		background-color: $section-background

	tbody
		border: solid 4px #000

	th, td
		padding: 0.6em

	tr :nth-child(1)
		width: 10%

	tr :nth-child(2)
		width: 15%

	caption
		padding: 1em
		color: $gray-text
		caption-side: bottom
		font-size: $font-size-small-ui
		text-align: right
