.react-datepicker__close-icon::after
	background-color: transparent
	font-size: 1.5em
	margin-top: -15px
	font-weight: bold


.filter-date-picker--has-input + .react-datepicker__close-icon::after
	color: $medium-violet
