{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image self.image width-1440 as x1 %}
{% image self.image width-2880 as x2 %}

<div class="captioned-image__wrapper
	{% if self.alignment == 'full-width' %}
		captioned-image__wrapper--full-width
	{% else %}
		captioned-image__wrapper--{% if self.alignment == 'left' %}left{% else %}right{% endif %}
	{% endif %}">
	<img
		alt="{{ x1.alt }}"
		src="{{ x1.url }}"
		srcset="{{ x2.url }} 2x"
	/>
	{% if self.caption or self.image.attribution %}
		<aside
			class="caption {% if not self.image_caption %} caption--att-only {% endif %}"
		>
			{% if self.caption %}
				<div class="caption__text">
					{{ self.caption|richtext }}
				</div>
			{% endif %}

			{% if self.image.attribution %}
				<div class="caption__attribution {% if not self.caption %} caption__attribution--att-only {% endif %}">
					{{ self.image.attribution }}
				</div>
			{% endif %}
		</aside>
	{% endif %}
</div>
