<h2>{{ value.title }}</h2>
<div className="chartContainer">
	<div
		class="chart-vertical-bar"
		{% if value.incident_set.category %}
			data-category="{{ value.incident_set.category.title }}"
		{% endif %}
		{% if value.incident_set.tag %}
			data-tag="{{ value.incident_set.tag }}"
		{% endif %}
		{% if value.incident_set.lower_date %}
			data-lower-date="{{ value.incident_set.lower_date|date:'c' }}"
		{% endif %}
		{% if value.incident_set.upper_date %}
			data-upper-date="{{ value.incident_set.upper_date|date:'c' }}"
		{% endif %}
		{% if value.description %}
			data-description="{{ value.description }}"
		{% endif %}
	></div>
</div>
