<header class="header">
	<a href="/">
		US Press Freedom Tracker
	</a>

	<nav class="top-nav-bar">
		<ul id="primary-navigation" class="primary-navigation">
			<li>
				<a href="#">
					Incidents Database
					<span>Go to the page &rarr;</span>
				</a>
			</li>
			<li>
				<a href="#">
					Blog
					<span>Go to the page &rarr;</span>
				</a>
			</li>
			<li>
				<a href="#">
					FAQ
					<span>Go to the page &rarr;</span>
				</a>
			</li>
			<li>
				<a href="#">
					About
					<span>Go to the page &rarr;</span>
				</a>
			</li>
		</ul>
		<ul id="secondary-navigation" class="secondary-navigation">
			<li><a href="#" class="btn btn-primary">Donate</a></li>
			<li><a href="#" class="btn btn-primary">Submit an Incident</a></li>
		</ul>
	</nav>
</header>
