{% load static wagtailmetadata_tags %}
{% load wagtail_site from wagtailcore_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{% if request.in_preview_panel %}
			<base target="_blank">
		{% endif %}
		{% block head %}
			<meta charset="utf-8" />
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<title>
				{% block title %}
					{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
				{% endblock %}
				{% block title_suffix %}
					{% wagtail_site as current_site %}
					{% with current_site.site_name as site_name %}
						{% if site_name %}- {{ site_name }}{% endif %}
					{% endwith %}
				{% endblock %}
			</title>
			<meta name="description" content="" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="icon" href="/favicon.ico" />

			{% block css %}
				<link rel="stylesheet" href="{% static 'bundles/common.css' %}">
				<script src="{% static 'bundles/common.js' %}" defer></script>
				{% if page and page.media_js %}
					{% for js in page.media_js %}
						<script src="{% static 'bundles/'|add:js|add:'.js' %}" defer></script>
					{% endfor %}
				{% endif %}
			{% endblock %}

			{% block meta %}
				{% if self %}
					{% meta_tags %}
				{% endif %}
				{% with seo_settings=settings.common.SocialSharingSEOSettings %}
					{% if seo_settings.twitter %}
						<meta name="twitter:site" content="@{{ seo_settings.twitter }}">
					{% endif %}
					{% if seo_settings.facebook_page_id %}
						<meta property="fb:pages" content="{{ seo_settings.facebook_page_id }}">
					{% endif %}
				{% endwith %}
			{% endblock %}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% block body %}
		{% endblock %}
	</body>
</html>
