{% load i18n %}
{% load static wagtailmetadata_tags %}
{% load wagtail_site from wagtailcore_tags %}
{% load render_bundle from webpack_loader %}
{% get_current_language as LANGUAGE_CODE %}

<!doctype html>
<html class="no-js" lang="{{ LANGUAGE_CODE }}">
	<head>
		{% block head %}
			<meta charset="utf-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1" />
			<link rel="icon" href="/favicon.ico" sizes="any" />
			<link rel="icon" href="{% static 'favicon/favicon.svg' %}" type="image/svg+xml" />
			<link rel="apple-touch-icon" href="{% static 'icons/apple-touch-icon.png' %}" />
			<title>
				{% block title %}
					{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
				{% endblock %}
				{% block title_suffix %}
					{% wagtail_site as current_site %}
					{% with current_site.site_name as site_name %}
						{% if site_name %}- {{ site_name }}{% endif %}
					{% endwith %}
				{% endblock %}
			</title>
			<meta name="description" content="" />

			{% block css %}
				{% render_bundle 'common' 'css' %}
				{% render_bundle 'common' 'js' attrs='defer'%}
				{% if page and page.media_js %}
					{% for js in page.media_js %}
						{% render_bundle js 'js' attrs='defer' %}
					{% endfor %}
				{% endif %}
			{% endblock %}

			{% block meta %}
				{% if self %}
					{% meta_tags %}
				{% endif %}
				{% with seo_settings=settings.common.SocialSharingSEOSettings %}
					{% if seo_settings.twitter %}
						<meta name="twitter:site" content="@{{ seo_settings.twitter }}">
					{% endif %}
					{% if seo_settings.facebook_page_id %}
						<meta property="fb:pages" content="{{ seo_settings.facebook_page_id }}">
					{% endif %}
				{% endwith %}
			{% endblock %}
			{% if request.in_preview_panel %}
				<base target="_blank" />
			{% endif %}
		{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% block body %}
		{% endblock %}
	</body>
</html>
