{% load wagtailcore_tags wagtailimages_tags %}

{% for item in value.table_data %}
     <li class="list-table__row">
        <div class="anim-table-row list-table__item info-table--col-3 {% if item.image %}info-table--row-3 info-table--col-3-desktop{% endif %}">
            {% if item.image %}
                <div class="list-table__col list-table__small_screen_only">
                    <figure class="info-table__figure">
                        {% image item.image fill-66x66 alt=item.title %}
                    </figure>
                </div>
            {% endif %}
            <div class="list-table__col info-table__title">{{ item.title }}</div>
            <div class="list-table__col">
				<a href="{{ item.url }}" class="text-link" rel="nofollow">{{ item.url }}</a>
			</div>
            <div class="list-table__link info-table__col-right info-table__col-bottom">
				<a href="{{ item.url }}" aria-label="Visit link {{ item.title }}" class="anim-table-mainlink">{{ value.cta_label }} &rarr;</a>
			</div>
		</div>
    </li>
{% endfor %}
