.alert
	+uppercase
	border-width: 1px
	border-style: solid
	margin-left: 0.5em
	padding: 0.1em 0.4em
	border-radius: $border-radius
	display: inline-block

.alert--green
	border-color: $green-bright
	color: darken($green-bright, 15%)
