$gray: #e6e6e6
$light-coral: #f37e77

$input-border-color: $gray
$selection-bg: $light-violet
$selection-fg: $white
$suggestions-bg: $white
$suggestions-bg-active: $light-violet
$suggestions-fg-active: $white
$search-icon-color: $white-trans

$wagtail-border-radius: $border-radius

// sass-loader does not support webpack aliasing.
// See webpack-contrib/sass-loader #410.
@import ../../autocomplete/sass/accessibility
@import ../../autocomplete/sass/autocomplete
@import ../../autocomplete/sass/layout
@import ../../autocomplete/sass/selection
@import ../../autocomplete/sass/suggestions
@import autocomplete/autocomplete
@import autocomplete/selection
@import autocomplete/suggestions
