$min-image-height: 400px
$max-image-vh-ratio: 0.75

.blog-grid
	display: flex
	flex-direction: column
	align-items: stretch
	margin-bottom: 20px
	// Ensures that articles take up the whole
	// width of their flex parent
	width: 100%
	font-family: $sans-serif
	background: $gray-dark
	color: $gray-light

.blog-grid__body
	flex-grow: 1
	padding: $incident-body-top-padding $incident-body-side-padding 5px

.blog-grid__title
	font-family: $serif
	font-weight: normal
	margin-top: 0
	margin: $incident-attr-margin
	line-height: 1.25
	font-size: 2em
	+hover
		text-decoration: underline

.blog-grid__title-link
	display: block
	color: $gray-very-light
	text-decoration: none
	&:hover
		text-decoration: underline

.blog-grid__subtitle
	+uppercase
	font-size: 0.9em
	font-weight: $sans-regular
	display: inline-block
	margin: 0 0 0.2em 0
	color: $gray-light

.blog-grid__description
	line-height: 1.4
	margin: $incident-attr-margin
	color: inherit

// Modifiers:

@media (max-width: $medium-screen)
	.blog-grid__title
		font-size: 1.4em
		margin-bottom: 5px
