$min-image-height: 400px
$max-image-vh-ratio: 0.75

.blog-grid
    font-family: $sans-serif
    background: #444
    color: #eee
    // Ensures that articles take up the whole
    // width of their flex parent
    width: 100%

.blog-grid__body
    padding: $incident-body-top-padding $incident-body-side-padding 5px

.blog-grid__title
    font-family: $serif
    font-weight: normal
    margin-top: 0
    margin: $incident-attr-margin
    line-height: 1.25
    font-size: 2em
    +hover
        text-decoration: underline

.blog-grid__title-link
    color: #fff
    text-decoration: none
    &:hover
        text-decoration: underline
    display: block

.blog-grid__date
    color: $gray-mid-light
    font-weight: $sans-regular
    font-size: 0.9em
    margin: $incident-attr-margin

.blog-grid__subtitle
    +uppercase
    font-size: 0.9em
    font-weight: $sans-regular
    display: inline-block
    margin: 0 0.5em 0 0

.blog-grid__author
    color: $gray-mid-light
    font-weight: $sans-regular
    font-size: 0.9em
    margin: $incident-attr-margin
    display: inline
    font-size: 1em

.blog-grid__author-link
    +link-transition
    color: $gray-mid-light
    text-decoration: none

    +hover
        color: $black
        text-decoration: underline
        text-decoration-color: $black

.blog-grid__description
    line-height: 1.4
    margin: $incident-attr-margin
    color: inherit

// Modifiers:

.blog-grid--teaser
    margin-bottom: 20px

@media (max-width: $medium-screen)
    .blog-grid__title
        font-size: 1.4em
        margin-bottom: 5px
