.category-list
	+list-unstyled
	+underline-link
	margin-bottom: 0.2em

.category-list__item
	+uppercase
	font-size: 0.9em
	font-weight: $sans-regular
	display: inline-block
	margin: 0 0.5em 0 0


@each $name, $color in $text-colors
	.category-list__item--#{$name}
		color: $color
