=grid-container
	display: grid

	grid-template-columns: repeat(8, minmax(0, 1fr))
	grid-column-gap: 16px

	+tablet-up
		grid-template-columns: repeat(8, minmax(0, 1fr))
		grid-column-gap: 24px
	+desktop-up
		// 12 equal width columns
		grid-template-columns: repeat(12, minmax(0, 1fr))
		grid-column-gap: 32px
