=grid-columns($column-count, $gutter)
	grid-template-columns: repeat($column-count, minmax(0, 1fr))
	grid-column-gap: $gutter

=grid-container
	display: grid

	// 8 equal width cols, 16px gutter
	+grid-columns(8, 1rem)

	+tablet-up
		// 8 equal width cols, 24px gutter
		+grid-columns(8, 1.5rem)

	+desktop-up
		// 12 equal width cols, 32px gutter
		+grid-columns(12, 2rem)
