.header
	margin-top: $header-margin-top
	margin-bottom: $header-margin-top * 2
	display: flex
	flex-direction: row
	justify-content: space-between
	align-items: stretch

	@media (max-width: $small-screen)
		margin-top: 0
		// This height should match the SVG logo height so that
		// extra background in $header-color is not displayed.
		height: $header-logo-height
		background-color: $header-color


	&__logo
		background-color: $header-color
		box-sizing: content-box
		position: relative
		left: -$column-gutter-width
		margin-right: $header-logo-padding
		padding: $header-logo-padding
		padding-left: $page-margin-side * 2
		overflow: hidden
		// This height should match the SVG logo height so that
		// extra background in $header-color is not displayed.
		height: $header-logo-height

		@media(max-width: $medium-large-screen)
			height: $header-logo-height-medium-large
			padding: 30px

		@media(max-width: $small-screen)
			height: $header-logo-height-mobile
			left: 0
			padding: 0 0 0 1rem

		&::after
			@media(min-width: $medium-screen-min)
				content: ''
				display: block
				width: 200%
				padding-bottom: 200%
				height: 0
				background-color: #fff
				position: absolute
				top: 0
				left: 0
				// I donno why this number
				transform: rotateZ(45deg) translate3d(0, 65px, 0)
				transform-origin: 0 0
				transition: 0.25s linear transform
				z-index: 0

			@media(max-width: $medium-large-screen)
				// I don't understand quite why these numbers work
				top: 27px
				left: -27px
				transform-origin: 1.5rem 0

	&__logo:hover
		.header__logo-svg path
			fill: $gray-light-text
		@media(min-width: $medium-screen-min)
			.header__logo-svg path
				fill: $header-color

			&::after
				transform: rotateZ(45deg) translate3d(0, -260px, 0)

	&__logo-svg
		position: relative
		z-index: 1
		max-width: 100%

		path
			fill: #fff
			transition: 0.25s linear fill

	&__nav
		font-family: $sans-serif
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-end

		@media(max-width: $small-screen)
			height: $header-logo-height-mobile

	&__nav-list
		list-style-type: none
		display: inline-block
		margin: 0 -1*$nav-link-padding
		padding: 0
		text-align: right

		&--mobile-hidden
			@media(max-width: $small-screen)
				display: none

	&__nav-item
		font-size: 1.1em
		display: inline-block
		padding: 0.5*$nav-link-padding 0

	&__nav-link
		+uppercase
		display: block
		padding: $nav-link-padding 0 0.5*$nav-link-padding
		margin: 0 $nav-link-padding
		text-decoration: none
		color: $gray-mid-dark-text
		transition: 0.15s linear all
		position: relative
		font-size: 0.9em
		border-bottom: 1px solid transparent

		+hover
			color: $gray-dark
			border-bottom: 1px solid $gray-dark

		@each $name, $color in $background-colors
			&--#{$name}
				padding: $nav-link-padding 2*$nav-link-padding
				margin-bottom: -0.5*$nav-link-padding
				background-color: $color
				transition: 0.15s linear all
				color: $white
				border-bottom: 1px solid transparent

				+hover
					color: $white
					background-color: darken($color, 10%)
					border-bottom: 1px solid transparent

		&--highlighted
			padding: $nav-link-padding 2*$nav-link-padding
			margin-bottom: -0.5*$nav-link-padding
			background-color: $gray-mid-dark
			transition: 0.15s linear all
			color: $white
			border-bottom: 1px solid transparent

			+hover
				color: $white
				background-color: $gray-dark
				border-bottom: 1px solid transparent
