.home-body
	background: #fff
	margin-bottom: 30px
	padding: 1rem

	&__heading
		font-family: $serif
		font-weight: $serif-regular
		color: #000
		font-size: 36px
		max-width: 800px
		margin: 0 auto

		@media (max-width: $medium-screen)
			font-size: 24px

	&__rich-text
		font-size: 22px
		max-width: 800px
		margin: 0 auto

		@media (max-width: $medium-screen)
			font-size: 18px

	&__embed-block
		display: flex
		justify-content: center

		@media (max-width: $small-screen)
			display: block
