$min-image-height: 400px
$max-image-vh-ratio: 0.75

.incident
	font-family: $sans-serif
	background: #fff
	border-left-width: 25px
	border-left-style: solid
	// Ensures that incidents take up the whole
	// width of their flex parent
	width: 100%

.incident__body
	padding: $incident-body-top-padding $incident-body-side-padding 5px

.incident__top-image-container
	background: #f5f5f5
	position: relative
	min-height: 400px
	display: flex
	align-items: center
	justify-content: space-around

.incident__top-image
	max-width: 100%
	// Before the min-image-height threshold is passed the image should be allowed
	// to grow to that size (this will *not* scale up low resolution images, however)
	max-height: $min-image-height
	margin: 0 auto
	display: block

	// Make sure (once the min-image-height threshold is passed) that the image
	// is never taller than a certain percentage of the window height
	@media(min-height: ceil($min-image-height * 1/$max-image-vh-ratio))
		max-height: $max-image-vh-ratio * 100vh

.incident__category-name
	+uppercase
	font-size: 0.8em
	margin: 0
	font-weight: $sans-regular

.incident__title
	+underline-link
	font-family: $serif
	font-weight: normal
	margin-top: 0
	margin: $incident-attr-margin
	line-height: 1.25
	font-size: 2em

.incident__title-link
	+title-link
	display: block

.incident__date
	+light-gray-text-small
	margin: $incident-attr-margin

.incident__date--link
	text-decoration: none
	&:hover
		text-decoration: underline

.incident__author
	+light-gray-text-small
	margin: $incident-attr-margin
	display: inline
	font-size: 1em

.incident__author-tease-link
	+gray-link
	+link-transition
	padding-top: 10px
	+light-gray-text-small
	+list-unstyled

.incident__author-link
	+link-transition
	font-weight: $sans-bold
	color: $gray-mid-dark-text
	text-decoration: none

	+hover
		color: $black
		text-decoration: underline
		text-decoration-color: $black

.incident__description
	line-height: 1.4
	margin: $incident-attr-margin
	color: $gray-mid-dark-text

.incident__update-item
	margin: 20px 0 0 0
	padding-top: 20px
	border-top: 1px solid #ddd

// Modifiers:

.incident--teaser
	margin-bottom: 20px

.incident--full
	margin-bottom: 40px

@each $name, $color in $border-colors
	.incident--#{$name}
		border-left-color: $color


// TODO: Move these to a different module

.incident__related-group
	display: inline-block

.incident__related-card
	margin-bottom: 2em
	margin-right: $incident-card-margin
	width: $half-main-width
	display: inline-block
	height: 200px
	overflow: hidden

@media (max-width: $medium-screen)
	.incident__title
		font-size: 1.4em
		margin-bottom: 5px
