// CATEGORY COLORS
$border-colors: (
	"eastern-blue": $user-eastern-blue,
	"gamboge": $user-gamboge,
	"gray-dark": $user-gray-dark,
	"dark-gray": $user-gray-dark,
	"green-apple": $user-green-apple,
	"green": $user-green,
	"sunshine": $user-sunshine,
	"pink": $user-pink,
	"red": $user-red,
	"royal-blue": $user-royal-blue,
	"teal": $user-teal,
	"violet": $user-violet,
	"yellow": $user-yellow,
);

$text-colors: (
	"eastern-blue": $user-eastern-blue-text,
	"gamboge": $user-gamboge-text,
	"gray-dark": $user-gray-dark-text,
	"green-apple": $user-green-apple-text,
	"green": $user-green-text,
	"sunshine": $user-sunshine-text,
	"pink": $user-pink-text,
	"red": $user-red-text,
	"royal-blue": $user-royal-blue-text,
	"teal": $user-teal-text,
	"violet": $user-violet-text,
	"yellow": $user-yellow-text,
);

$background-colors: (
	"eastern-blue": $user-eastern-blue-text,
	"gamboge": darken($user-gamboge,5),
	"gray-dark": $user-gray-dark,
	"dark-gray": $user-gray-dark,
	"green-apple": $user-green-apple,
	"green": $user-green-text,
	"sunshine": $user-sunshine,
	"pink": $user-pink,
	"red": $user-red,
	"royal-blue": $user-royal-blue,
	"teal": $user-teal-text,
	"violet": $user-violet,
	"yellow": $user-yellow,
);

$text-size-choices: (
	small: 0.8em,
	normal: 1em,
	large: 1.2em,
	jumbo: 1.5em
);

$font-family-choices: (
	serif: $serif,
	sans-serif: $sans-serif
);

$text-align-choices: (
	left: left,
	center: center,
	right: right
);
