.methodology
	padding-top: 1rem
	padding-bottom: 1rem

.methodology__text
	margin-bottom: 0.5rem

.methodology__link
	font-size: 0.85rem
	text-decoration: none
	text-transform: uppercase
	color: $blue-dark-link

	+hover
		color: $blue-dark-link-hover

.methodology__chevron
	height: 0.65em
	width: auto
	path
		fill: currentcolor
