.search-page
	background-color: $white
	padding: $column-gutter-width
	margin-bottom: 1em

	&__list
		+list-unstyled
		margin-bottom: 2em

	&__list-item
		margin-bottom: 1em

	&__list-item-title
		margin: 0
		+underline-link
