.section-heading
	+section-heading
	color: $gray-mid-text

	&__subject
		color: $gray-mid-dark-text
		font-weight: $sans-bold

		&--link
			+link-transition
			color: $gray-mid-dark-text
			text-decoration: none

		&--link:hover
			text-decoration: underline
			text-decoration-color: $black
			color: $black


	&__icon
		display: inline-block
		vertical-align: -0.15em
		height: 1em

		> svg
			display: block
			height: 1em

		> svg path
			fill: $gray-mid-text

		+hover
			> svg path
				fill: $gray-mid-dark-text

	&--light
		color: $gray-very-light

	&--margin-top
		margin-top: $category-header-margin-top
