.sidebar-note
    background-color: white
    padding: 1rem

    p
        margin-bottom: 0

    h2
        font-size: 1rem
        font-family: $sans-serif
        font-weight: $sans-bold
        margin: 0
        padding: 0
