.stats
	display: flex
	flex-direction: row
	flex-wrap: wrap
	margin: 0 -10px
	margin-bottom: 10px

.stats__item
	flex-basis: calc(25% - 20px)
	overflow: hidden
	flex-grow: 1
	margin: 0 10px 10px 10px
	padding: 15px 10px

	display: flex
	flex-direction: column
	align-items: center

	font-size: 18px
	color: white

	@media (max-width: $medium-screen)
		font-size: 16px

	@media (max-width: $small-screen + 30px)
		flex-basis: calc(50% - 20px)

.stats__item--link
	text-decoration: none
	+hover
		opacity: 0.9

@each $name, $color in $background-colors
	.stats__item--#{$name}
		background-color: $color

// These colors require dark text for appropriate contrast
.stats__item--yellow,
.stats__item--sunshine,
.stats__item--green-apple
	color: $gray-dark

.stats__number,
.stats__label
	display: block
	font-weight: 400

.stats__number
	font-size: 4em
	font-family: $serif
	line-height: 1
	letter-spacing: 0.08px

.stats__label
	text-align: center
	margin-top: 0.5em
	flex-grow: 1
	display: flex
	flex-direction: column
	justify-content: center
