.tabs
	border-top: 1px solid #EEE
	margin-top: 20px

	&__tablist
		display: flex
		justify-content: center
		position: relative
		margin-top: -20px

	&__tab
		flex: 0 1 auto
		border-width: 1px 1px 1px 0
		border-color: #CCC
		border-style: solid
		padding: 0.25em 1em
		text-align: center
		text-decoration: none
		color: #999
		background-color: #FFF
		&:hover
			color: #444
			background-color: #F5F5F5
		&.active
			color: #000
			background-color: #EEE

		&:first-child
			border-width: 1px
			border-radius: 4px 0 0 4px
		&:last-child
			border-radius: 0 4px 4px 0
