.topic-page
	font-family: $sans-serif

.topic-header
	background-size: auto
	background-repeat: no-repeat
	background-position: center
	position: relative
	max-width: calc(1440px + 25%)
	// This height should match the width:height ratio of the image
	// provided in the template. Specifying the height in CSS will prevent
	// reflow when the image loads
	height: 40vw

	@media (max-width: $medium-screen)
		height: 80vh

	@media (max-width: $small-screen)
		margin-top: -$header-margin-top * 2

.topic-header__text
	position: absolute
	left: 0
	right: 0
	padding: 30px

	// This is too complicated to use BEM for
	&--white
		color: #FFF
		&.topic-header__text--align-bottom-center,
		&.topic-header__text--align-bottom-left
			background-image: linear-gradient(0deg, rgba(#000, 0.15), rgba(#000, 0))

		&.topic-header__text--align-top-center,
		&.topic-header__text--align-top-left
			background-image: linear-gradient(180deg, rgba(#000, 0.15), rgba(#000, 0))

	&--black
		color: #000
		&.topic-header__text--align-bottom-center,
		&.topic-header__text--align-bottom-left
			background-image: linear-gradient(0deg, rgba(#FFF, 0.15), rgba(#FFF, 0))

		&.topic-header__text--align-top-center,
		&.topic-header__text--align-top-left
			background-image: linear-gradient(180deg, rgba(#FFF, 0.15), rgba(#FFF, 0))

	&--align-bottom-center
		bottom: 0
		text-align: center
		padding-top: 100px

	&--align-top-center
		top: 0
		text-align: center
		padding-bottom: 100px

	&--align-bottom-left
		bottom: 0
		text-align: left
		padding-top: 100px

	&--align-top-left
		top: 0
		text-align: left
		padding-bottom: 100px

.topic-header__superheading
	+uppercase
	margin: 0
	padding: 0
	font-weight: normal
	font-size: 20px

	@media(max-width: $medium-screen)
		font-size: 16px

.topic-header__heading
	margin: 0
	padding: 0
	font-size: 72px
	font-family: $serif
	font-weight: normal

	@media(max-width: $medium-screen)
		font-size: 44px

.topic-header__description
	max-width: 800px
	font-size: 22px

	@media(max-width: $medium-screen)
		font-size: 18px

	&--align-bottom-center, &--align-top-center
		margin: 0 auto

	&--align-bottom-left, &--align-top-left
		margin: 0

	// Break the BEM to reach into the rich text and remove margins from first
	// and last elements
	> .rich-text > *:first-child
		margin-top: 0

	> .rich-text > *:last-child
		margin-bottom: 0

.topic-header__background
	min-height: 100%
	width: 100%
	height: auto

	@media (max-width: $medium-screen)
		object-fit: cover

.topic-header--white-text
	color: $white

.topic-header--black-text
	color: $black

.topic-body
	background: #fff
	margin-bottom: 30px
	padding: 1rem 1rem

	&__heading
		font-family: $serif
		font-weight: $serif-regular
		color: #000
		font-size: 36px
		max-width: 800px
		margin: 0 auto

		@media (max-width: $medium-screen)
			font-size: 24px

	&__rich-text
		font-size: 22px
		max-width: 800px
		margin: 0 auto

		@media (max-width: $medium-screen)
			font-size: 18px

	&__embed-block
		display: flex
		justify-content: center

		@media (max-width: $small-screen)
			display: block

.topic-sidebar
	padding-top: 1rem

	&__photo-info
		border-bottom: 1px solid #c2ced6
		padding-bottom: 1rem
		+blue-link

	&__photo-caption
		margin-right: 0.25em

	&__photo-credit
		+uppercase
		font-size: 0.9em

	&__heading
		font-size: 24px
		font-weight: $sans-bold
		color: #000
		margin-bottom: 10px

	&__rich_text
		font-size: 18px
		margin-bottom: 20px

		// Break the BEM for rich text formatting
		& > .rich-text > *:first-child
			margin-top: 0

		& > .rich-text > *:last-child
			margin-bottom: 0

	&__button
		margin-bottom: 20px
		text-align: left

	&__stat-table
		margin-bottom: 20px

.topic-teaser
	margin-bottom: 20px
	width: 100%
	min-height: 400px

.topic-teaser--image
	min-height: 100%
	background-position: center
	background-size: cover
	text-decoration: none

	display: flex
	flex-direction: column

.topic-teaser__text
	width: 100%
	padding: 16px

	// This is too complicated to use BEM for
	&--white
		color: #FFF
		&.topic-header__text--align-bottom-center,
		&.topic-header__text--align-bottom-left
			background-image: linear-gradient(0deg, rgba(#000, 0.15), rgba(#000, 0))

		&.topic-header__text--align-top-center,
		&.topic-header__text--align-top-left
			background-image: linear-gradient(180deg, rgba(#000, 0.15), rgba(#000, 0))

	&--black
		color: #000
		&.topic-header__text--align-bottom-center,
		&.topic-header__text--align-bottom-left
			background-image: linear-gradient(0deg, rgba(#FFF, 0.15), rgba(#FFF, 0))

		&.topic-header__text--align-top-center,
		&.topic-header__text--align-top-left
			background-image: linear-gradient(180deg, rgba(#FFF, 0.15), rgba(#FFF, 0))

	&--align-bottom-center
		margin-top: auto  // places at bottom of flex container
		text-align: center
		padding-top: 100px

	&--align-top-center
		text-align: center
		padding-bottom: 100px

	&--align-bottom-left
		margin-top: auto  // places at bottom of flex container
		text-align: left
		padding-top: 100px

	&--align-top-left
		text-align: left
		padding-bottom: 100px

.topic-teaser__superheading
	+uppercase
	margin: 0
	padding: 0
	font-weight: $sans-regular
	font-size: 0.9em

.topic-teaser__heading
	margin: 0
	padding: 0
	font-size: 2.5em
	font-family: $serif
	font-weight: normal

	@media(max-width: $medium-screen)
		font-size: 44px
