.topic-page
	font-family: $sans-serif

.topic-header
	background-size: auto
	background-repeat: no-repeat
	background-position: center
	position: relative
	max-width: calc(1440px + 25%)
	font-size: 1.1rem
	display: flex

.topic-header--align-bottom-center
	justify-content: center
	.topic-header__wrapper
		align-self: flex-end

.topic-header--align-top-center
	justify-content: center
	.topic-header__wrapper
		align-self: flex-start


.topic-header--align-bottom-left
	justify-content: flex-start
	.topic-header__wrapper
		align-self: flex-end

.topic-header--align-bottom-left
	justify-content: flex-start
	.topic-header__wrapper
		align-self: flex-end

.topic-header__background
	min-height: 100%
	width: 100%
	height: auto

.topic-header--white-text
	color: $white

.topic-header--black-text
	color: $black

.topic-header__wrapper
	width: 50%
	position: absolute
	margin: 1.5rem

.topic-header__superheading
	+uppercase
	margin: 0
	padding: 0
	font-weight: normal
	text-align: center
	font-size: 1.0rem

.topic-header__heading
	margin: 0
	padding: 0
	text-align: center
	font-size: 3.0rem
	font-family: serif
	font-weight: normal

.topic-header__description
	text-align: center

.topic-body
	background: #fff
	margin: 1rem 0
	padding: 1rem 1rem

.topic-sidebar__wrapper
	padding-top: 1rem

.topic-sidebar__photo-info
	border-bottom: 1px solid #c2ced6
	padding-bottom: 1rem
