.popover
	display: block
	position: absolute
	background-color: #FFF
	padding: 20px
	width: 300px
	border-radius: 4px
	box-shadow: 0 0 16px 0 rgba(#000, 0.15)
	transform: translate(-50%, 0)
	opacity: 0
	pointer-events: none
	transition: opacity 250ms ease-in-out

	&--visible
		opacity: 1
		pointer-events: auto

	&::after
		display: block
		content: " "
		position: absolute
		top: -10px
		left: 130px
		background-color: #FFF
		transform: rotate(45deg)
		width: 20px
		height: 20px

	@media(max-width: 400px)
		width: calc(100% - 20px)
		transform: none
