{% load wagtailcore_tags render_as_template typogrify_tags %}

<div class="methodology">
	{% if category.methodology %}
		<h3 class="section-heading">
			How we track
			{% if category.plural_name %}
				{{ category.plural_name|title }}
			{% else %}
				{{ category|title }}
			{% endif %}
		</h3>
		<div class="methodology__text">
			{% with method=category.methodology %}
				{% filter typogrify %}{% render_as_template method %}{% endfilter %}
			{% endwith %}
		</div>
	{% endif %}
	{% if preview %}
		<a class="methodology__link" href="{% pageurl category %}" >
			More
			{% if category.plural_name %}
				{{ category.plural_name|title }}
			{% else %}
				{{ category|title }}
			{% endif %}
			&gt;
		</a>
	{% endif %}
</div>
