{% load wagtailcore_tags %}

{% if settings.common.SiteSettings.incident_sidebar_note %}
	<section class="citation">
		<div class="citation--inner">
			<div class="citation-content">
				{% for block in settings.common.SiteSettings.incident_sidebar_note %}
					{% if block.block_type == 'heading' %}
						<h2 class="paragraph-subtitle">{{ block.value.content }}</h2>
					{% else %}
						<div class="rich-text citation-body">{% include_block block %}</div>
					{% endif %}
				{% endfor %}
				{% if settings.common.SiteSettings.citation_contact_page %}
					<div class="citation-link">
						<a href="{% pageurl settings.common.SiteSettings.citation_contact_page %}" class="btn btn-primary">Contact us</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>
{% endif %}
