{% with email_settings=settings.emails.EmailSettings %}
	{% for group in email_settings.mailchimp_groups.all %}
		<section class="emails-signup">
			<div class="emails-signup--inner">
				<div class="emails-signup-content"  id="mc-mailing-list-signup">
					<h2 class="paragraph-subtitle">{{ email_settings.signup_prompt }}</h2>
					<form action="{% url 'subscribe_for_site' %}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate emails-signup__form" target="_blank" data-csrf-endpoint="{% url 'csrf_token' %}">
						{% csrf_token %}
						<p
							id="mce-error-response"
							role="status"
							class="compact-form__error"
							style="display:none"
						>
						</p>
						{% if email_settings.mailchimp_collect_name %}
							<div class="emails-signup__input-container">
								<label for="mce-MMERGE6" class="sr-only">Full Name</label>
								<input
									type="text"
									value=""
									name="full_name"
									class="emails-signup__input text-field--single"
									id="mce-MMERGE6"
									placeholder="Your name"
								>
							</div>
						{% endif %}
						<div class="emails-signup__input-container">
							{% if email_settings.mailchimp_collect_name %}
								<label
									for="mce-EMAIL"
									class="sr-only"
								>
									Email address
								</label>
							{% endif %}

							<input
								type="email"
								class="emails-signup__input text-field--single"
								id="mce-EMAIL"
								placeholder="Your email address"
								name="email"
							/>
						</div>
						<div class="emails-signup__submit-btn">
							<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-secondary">Sign up</button>
						</div>
					</form>
				</div>
				<p id="mc-subscribe-thanks" style="display:none">
					Thanks for subscribing to Freedom of the Press Foundation's mailing list. We'll send you opportunities to take action on combating government secrecy, protesting mass surveillance, and protecting reporter's rights.
				</p>
			</div>
		</section>
	{% endfor %}
{% endwith %}
