{% load get_menu %}
<div class='layout-right-sidebar'>
    <header class='layout-right-sidebar__main header'>
      <h1 class='header__title'>
        U.S. Press <br/> Freedom Tracker
      </h1>

      <nav class='header__nav'>
        <ul class='header__nav-list'>
        {% get_menu 'main' as menu %}
            {% for item in menu.menu_items.all %}
              <li class="header__nav-item {{ item.html_classes }}"><a class='header__nav-link' href="{{ item.url }}">
                {{ item.text }}
              </a></li>
        {% endfor %}
        </ul>
      </nav>
    </header>
</div>

