{% load get_menu %}
<header class='header'>
	<a class='header__logo' href="/">
		{% include "common/_logo.html" %}

		<h1 class='header__logo__title sr-only'>U.S. Press Freedom Tracker</h1>
	</a>

	<nav class='header__nav'>
		{% include "common/_search_bar.html" with class="search-bar--mobile-hidden" %}

		<ul class='header__nav-list header__nav-list--mobile-hidden'>
			{% get_menu 'main' as menu %}
			{% for item in menu.menu_items.all %}
			<li class="header__nav-item {{ item.html_classes }}"><a class='header__nav-link' href="{{ item.url }}">
					{{ item.text }}
			</a></li>
			{% endfor %}
		</ul>
	</nav>
</header>
