<a href="#title" class="skip-link">Skip to content</a>
<header class="header">
	<a class="site-title-link text-link" href="/">
		U.S Press Freedom Tracker
	</a>

	<button class="mobile-nav-toggle" aria-controls="primary-navigation" aria-expanded="false">
		<span class="sr-only">Menu</span>
	</button>

	<nav class="top-nav-bar" data-visible="false">
		<ul id="primary-navigation" class="primary-navigation">
			<li>
				<a href="#" class="text-link">
					Incidents Database
					<span>Go to the page &rarr;</span>
				</a>
			</li>
			<li>
				<a href="#" class="text-link">
					Blog
					<span>Go to the page &rarr;</span>
				</a>
			</li>
			<li>
				<a href="#" class="text-link">
					FAQ
					<span>Go to the page &rarr;</span>
				</a>
			</li>
			<li>
				<a href="#" class="text-link">
					About
					<span>Go to the page &rarr;</span>
				</a>
			</li>
		</ul>
		<ul id="secondary-navigation" class="secondary-navigation">
			<li><a href="#" class="btn btn-primary">Donate</a></li>
			<li><a href="#" class="btn btn-primary">Submit an Incident</a></li>
		</ul>
	</nav>
</header>
