{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% image page.teaser_image fill-665x440 as x1 %}
{% image page.teaser_image fill-1330x880 as x2 %}

<a
	href="{% pageurl page %}"
	class="teaser-image{% if single_column %} teaser-image--horizontal{% endif %}"
	style="background-image:url({{ x1.url }})"
>
	<img
		class="teaser-image__image{% if single_column %} teaser-image__image--horizontal{% endif %}"
		alt="{{ x1.alt }}"
		src="{{ x1.url }}"
		srcset="{{ x2.url }} 2x"
		{% if page.image_caption and page.teaser_image.attribution %}
			title="{{ page.image_caption|striptags }} ({{ page.teaser_image.attribution|upper }})"
		{% elif page.image_caption %}
			title="{{ page.image_caption|striptags }}"
		{% elif page.teaser_image.attribution %}
			title="({{ page.teaser_image.attribution }})"
		{% endif %}
	/>
</a>
