{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% if video or image %}
    <figure class="primary-banner-media">
        {% if video %}
            {% embed video %}
        {% elif image.0.block_type == "image" %}
            {% image image.0.value width-910 alt=image.attribution|default:image.0.value.title %}
				{% elif image.0.block_type == "vertical_bar_chart" %}
					{% include 'common/blocks/vertical_bar_chart.html' with value=image.0 %}
				{% elif image.0.block_type == "tree_map_chart" %}
					{% include 'common/blocks/tree_map_chart.html' with value=image.0 %}
				{% elif image.0.block_type == "bubble_map_chart" %}
					{% include 'common/blocks/bubble_map_chart.html' with value=image.0 %}
        {% endif %}
        {% if caption or image.attribution %}
            <figcaption class="media-caption">
				<div class="rich-text">{{ caption|richtext }}</div>
				{% if image.attribution %}
					<span
						class="media-attribution"
					> — {{ image.attribution }}</span>
				{% endif %}
			</figcaption>
        {% endif %}
    </figure>
{% endif %}
