{% load wagtailcore_tags wagtailembeds_tags wagtailimages_tags %}

{% if video or image %}
		<figure class="primary-banner-media">
				{% if video %}
						{% embed video %}
				{% elif image.0.block_type == "image" %}
					<div class="primary-banner-media__inner">
						{% image image.0.value width-910 alt=image.attribution|default:image.0.value.title %}
					</div>
				{% elif image.0.block_type == "vertical_bar_chart" %}
					{% include 'common/blocks/vertical_bar_chart.html' with value=image.0.value static_graphic=true %}
				{% elif image.0.block_type == "tree_map_chart" %}
					{% include 'common/blocks/tree_map_chart.html' with value=image.0.value static_graphic=true %}
				{% elif image.0.block_type == "bubble_map_chart" %}
					<div class="primary-banner-media__inner">
						{% include 'common/blocks/bubble_map_chart.html' with value=image.0.value static_graphic=true %}
					</div>
				{% elif image %}
					{% image image width-910 alt=image.attribution|default:image.title %}
				{% endif %}
				{% firstof image.attribution image.0.value.attribution as attribution %}
				{% if caption or attribution %}
					<figcaption class="media-caption">
						<div class="rich-text">{{ caption|richtext }}</div>
						{% if attribution %}
							<span
								class="media-attribution"
							> — {{ attribution }}</span>
						{% endif %}
					</figcaption>
				{% endif %}
		</figure>
{% endif %}
