{% extends "base.html" %}

{% load wagtailcore_tags render_as_template typogrify_tags %}

{% block main %}
	<h1 class="page-title category category-{{ page.page_symbol }}" id="title">{{ page.title }}</h1>

	<section class="categorypage-section">
		<div class="categorypage-section-inner categorypage-section--flex">
			<div class="categorypage-summary">
				{% with search_page=settings.common.SearchSettings.search_page %}
					<a class="text-link categorypage-count"
						href="{% if search_page %}{% pageurl search_page %}?{{ incident_qs }}{% endif %}">
						Total Incidents: {{ total_incidents }}
					</a>
				{% endwith %}
				<div class="categorypage-summary--text rich-text">
					{% filter typogrify %}{% render_as_template page.description %}{% endfilter %}
				</div>

				{% if data_items %}
					{% include "common/_categorypage-statistics.html" %}
				{% endif %}
			</div>
			{% with search_page=settings.common.SearchSettings.search_page %}
				<div class="js-categorypage-charts"
					data-category-id="{{ page.pk }}"
					data-category-name="{{ page.title }}"
					{% if search_page %}data-database-path="{% pageurl search_page %}"{% endif %}
					{% if page.viz_data_start %}data-start-date="{{ viz_data_start }}"{% endif %}
					{% if page.viz_data_end %}data-end-date="{{ viz_data_end }}"{% endif %}
				></div>
			{% endwith %}
		</div>
	</section>

	{% if page.methodology or page.methodology_items.all %}
		<section class="categorypage-section categorypage-section--gray">
			<div class="categorypage-section-inner">
				{% include "common/_category_methodology_section.html" with items=page.methodology_items.all methodology_summary=page.methodology only %}
			</div>
		</section>
	{% endif %}

	{% if featured_incident_pages %}
		<section class="categorypage-section">
			<div class="categorypage-section-inner">
				{% include "home/_featured_incidents_section.html" %}
			</div>
		</section>
	{% endif %}

	{% with search_page=settings.common.SearchSettings.search_page %}
		{% if search_page %}
			<section class="categorypage-section categorypage-section--gray">
				<div class="categorypage-section-inner">
					{% include "home/_recent_incidents_section.html" with count=8 incidents_base=recent_incidents %}
				</div>
			</section>
		{% endif %}
	{% endwith %}

	{% if featured_blog_posts %}
		<section class="categorypage-section">
			<div class="categorypage-section-inner">
				{% include "home/_blog_section.html" with label="Articles About "|add:page.title %}
			</div>
		</section>
	{% endif %}

	<section class="categorypage-section categorypage-section--gray">
		<div class="categorypage-section-inner">
			{% include "home/_categories_section.html" %}
		</div>
	</section>
{% endblock %}
