{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block main %}
	<h1 class="page-title category category-{{ page.page_symbol }}" id="title">{{ page.title }}</h1>

	<section class="categorypage-section">
		<div class="categorypage-section-inner">
			{% with search_page=settings.common.SearchSettings.search_page %}
				<a class="text-link categorypage-count"
					href="{% if search_page %}{% pageurl search_page %}?{{ incident_qs }}{% endif %}">
					Total Incidents: {{ total_incidents }}
				</a>
			{% endwith %}
			<div class="categorypage-summary">
				{{ page.description|richtext }}
			</div>

			{% if data_items %}
				{% include "common/_categorypage-statistics.html" %}
			{% endif %}
		</div>
	</section>

	{% if featured_incident_pages %}
		<section class="categorypage-section">
			<div class="categorypage-section-inner">
				{% include "home/_featured_incidents_section.html" %}
			</div>
		</section>
	{% endif %}

	{% with search_page=settings.common.SearchSettings.search_page %}
		{% if search_page %}
			<section class="categorypage-section categorypage-section--gray">
				<div class="categorypage-section-inner">
					{% include "home/_recent_incidents_section.html" with count=8 %}
				</div>
			</section>
		{% endif %}
	{% endwith %}

	{% if featured_blog_posts %}
		<section class="categorypage-section">
			<div class="categorypage-section-inner">
				{% include "home/_blog_section.html" with label="Articles About "|add:page.title %}
			</div>
		</section>
	{% endif %}

	<section class="categorypage-section categorypage-section--gray">
		<div class="categorypage-section-inner">
			{% include "home/_categories_section.html" %}
		</div>
	</section>
{% endblock %}
