{% extends layout_template %}

{% load common_tags wagtailcore_tags render_as_template typogrify_tags %}

{% block flex_class %}
	flex-container--grow-3
{% endblock %}

{% block top_sidebar_class %}
{{ block.super }}
	layout-right-sidebar__sidebar--light
{% endblock%}

{% block secondary-header %}
<div class="layout-right-sidebar">
	<div class="
		layout-right-sidebar__main
		layout-right-sidebar__main--dark
		layout-right-sidebar__main--{{ page.page_color }}
	">
			<div class="category">
				<h3 class="category__name">
					{{ page.title }}
				</h3>
				{% if page.quick_facts.all %}
					<ul class="quickfacts">
						{% for fact in page.quick_facts.all %}
							{% if fact.link_url %}
								<li class="quickfacts__item">
									<a class="quickfacts__link" href="{{ fact.link_url }}">
										{% filter richtext_inline|typogrify %}
											{% render_as_template fact.body %}
										{% endfilter %}
									</a>
								</li>
							{% else %}
								<li class="quickfacts__item">
									{% filter richtext_inline|typogrify %}
										{% render_as_template fact.body %}
									{% endfilter %}
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
			</div>
	</div>
	<div class="
		layout-right-sidebar__sidebar
		layout-right-sidebar__sidebar--dark
		layout-right-sidebar__sidebar--{{ page.page_color }}
	">
		<table class="data-table data-table--category">
			<h4 class="section-heading section-heading--light section-heading--margin-top">
			Data Summary
		</h4>
			<tr class="data-table__row data-table__row--light">
				<th class="data-table__label data-table__label--light">
					Total cases
				</th>
				<td class="data-table__value">{{ page.incidents.all.count }}</td>
			</tr>
			{% if data_items %}
				{% for item in data_items %}
					<tr class='data-table__row'>
						<th class="data-table__label">
							{{ item.label }}
						</th>
						<td class="data-table__value">{{ item.value }}</td>
					</tr>
				{% endfor %}
			{% endif %}
		</table>
	</div>
</div>
{% endblock %}

{% block main_class %}
	layout-right-sidebar__main--padded
{% endblock %}

{% block main %}
	{% include "incident/_filters.html" with no_category_filtering=True category=page.id %}

	{% block ajax %}
		<div class="grid-50 js-infinite-scrolling-parent">
			{% for incident in entries_page %}
				<div class="grid-50__item js-infinite-scrolling-item">
					{% include "incident/_incident.html" with incident=incident teaser=True %}
				</div>
			{% empty %}
				<p class="grid-50__item">There are no results for those filters.</p>
			{% endfor %}
		</div>

		{% if entries_page.has_next %}
			<a
				href="?{% query_transform request page=entries_page.next_page_number %}"
				class="button button--outline button--center js-infinite-scrolling-next-link"
			>
				More Incidents
			</a>
		{% endif %}
	{% endblock %}
{% endblock %}


{% block sidebar_class %}
	layout-right-sidebar__sidebar--light
	layout-right-sidebar__sidebar--padded
{% endblock %}

{% block sidebar %}
	{# This outer div should be here even if it is empty to provide ajax loading with a container #}
	<div class="js-summary-table">
		{% include 'incident/_summary_table.html' with label="Results Summary" summary_table=summary_table %}
	</div>
	<div class="js-methodologies">
		{% include 'common/_category_methodology.html' with category=page %}
	</div>
{% endblock %}
