{% comment %}
	When including this template, you can add the following variables:

	prompt -- override the sitewide email signup prompt
	class -- add an additional class name to the html div
{% endcomment %}

{% with email_settings=settings.emails.EmailSettings %}
	<div
		class="js-emails-signup emails-signup {{ class }}"
		data-signup-prompt="{% filter force_escape %}{% firstof prompt email_settings.signup_prompt "" %}{% endfilter %}"
		data-success-text="{{ email_settings.success_text|default:"" }}"
	></div>
{% endwith %}
