{% load wagtailcore_tags wagtailimages_tags static typogrify_tags %}

{% with footer=settings.common.FooterSettings %}
<div class="info-footer">
	<div class="info-footer__body">
		{{ footer.body|richtext|typogrify }}
	</div>

	<div class="partner-logos">
		{% for logo in footer.footer_logos.all %}
			{% image logo.logo_image width-375 as x1 %}
			{% image logo.logo_image width-750 as x2 %}
			<a class="partner-logos__link partner-logos__link--logo" href="{{ logo.logo_url }}">
				<img
					class="partner-logos__logo"
					alt="{{ x1.alt }}"
					src="{{ x1.url }}"
					srcset="{{ x1.url }} {{ x1.width }}w, {{ x2.url }} {{ x2.width}}w"
					sizes="(max-width: 1439px) 375px, 750px"
				/>
			</a>
		{% endfor %}
		{% if footer.partner_logo_text %}
			<a class="partner-logos__link partner-logos__link--button" href="{% if footer.partner_logo_link %}{% pageurl footer.partner_logo_link %}{% endif %}">
				{{ footer.partner_logo_text }}
			</a>
		{% endif %}
	</div>

	<nav class="info-footer__nav">
		<ul class="info-footer__nav-list">
			{% for item in footer.menu.menu_items.all %}
			<li class="info-footer__nav-item {{ item.html_classes }}">
				<a class="info-footer__nav-link" href="{{ item.url }}">
					{{ item.text }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</div>
{% endwith %}
