{% load wagtailcore_tags wagtailimages_tags static %}
{% load wagtailsettings_tags %}
{% get_settings %}

{% with footer=settings.common.FooterSettings %}
<div class="info-footer">
	<div class="info-footer__body">
		{{ footer.body|richtext }}
	</div>

	<div class="partner-logos">
		<a class="partner-logos__link partner-logos__link--logo" href="https://freedom.press/">
			<img class="partner-logos__logo" src="{% static 'logos/fpf.png' %}" />
		</a>
		<a class="partner-logos__link partner-logos__link--logo" href="https://cpj.org/">
			<img class="partner-logos__logo" src="{% static 'logos/cpj.png' %}" />
		</a>
		<a class="partner-logos__link partner-logos__link--logo" href="https://rcfp.org/">
			<img class="partner-logos__logo" src="{% static 'logos/rcfp.png' %}" />
		</a>
		<a class="partner-logos__link partner-logos__link--logo" href="https://knightcolumbia.org/">
			<img class="partner-logos__logo" src="{% static 'logos/kfai.png' %}" />
		</a>
		<a class="partner-logos__link partner-logos__link--logo" href="https://rsf.org/en">
			<img class="partner-logos__logo" src="{% static 'logos/rsf.png' %}" />
		</a>
		<a class="partner-logos__link partner-logos__link--logo" href="https://www.indexoncensorship.org/">
			<img class="partner-logos__logo" src="{% static 'logos/index.png' %}" />
		</a>
		{% if footer.partner_logo_text %}
			<a class="partner-logos__link partner-logos__link--button" href="{% if footer.partner_logo_link %}{% pageurl footer.partner_logo_link %}{% endif %}">
				{{ footer.partner_logo_text }}
			</a>
		{% endif %}
	</div>

	<nav class="info-footer__nav">
		<ul class="info-footer__nav-list">
			{% for item in footer.menu.menu_items.all %}
			<li class="info-footer__nav-item {{ item.html_classes }}">
				<a class="info-footer__nav-link" href="{{ item.url }}">
					{{ item.text }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</div>
{% endwith %}
