{% extends "base.html" %}

{% block main %}
    {% include 'common/_simple_page_body.html' %}
{% endblock %}

{% block top_sidebar_class %}
    {{ block.super }}
    layout-right-sidebar__sidebar--light
{% endblock%}

{% block sidebar_class %}
	layout-right-sidebar__sidebar--light
{% endblock %}

{% block sidebar %}
	<aside class="simple-page__sidebar">
		<ul class="simple-page__sidebar-menu">
			{% for item in page.get_sidebar_menu.menu_items.all %}
				<li class="simple-page__sidebar-item">
					<a href="{{ item.url }}" class="simple-page__sidebar-link {{ item.html_classes }}" {% if item.title %}title="{{ item.title }}"{% endif %}>
						{{ item.text }}
					</a>
				</li>
			{% endfor %}
		</ul>
	</aside>
{% endblock %}
