{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block top_sidebar_class %}
    {{ block.super }}
    layout-right-sidebar__sidebar--light
{% endblock%}

{% block sidebar_class %}
	layout-right-sidebar__sidebar--light
{% endblock %}

{% block sidebar %}
	{% if page.sidebar_content %}
		{% for block in page.sidebar_content %}
			{% if block.block_type == 'heading' %}
				{% include_block block with classname='section-heading'%}
			{% else %}
				<section>{% include_block block %}</section>
			{% endif %}
		{% endfor %}
	{% else %}
		{% include "home/_incidents_sidebar.html" with label=home_page.specific.recent_incidents_label link_label=home_page.specific.recent_more_label page=home_page.specific %}
		{% include "home/_blog_sidebar.html" with label=home_page.specific.blog_label link_label=home_page.specific.blog_more_label page=home_page.specific %}
	{% endif %}
{% endblock %}

{% block main %}
    {% include 'common/_simple_page_body.html' %}
{% endblock %}
