{% load wagtailcore_tags wagtailimages_tags %}

{% if organization.description %}
	<h2 class="section-heading">
		<a
			class="section-heading__subject section-heading__subject--link"
			href="
				{% if parent_url %}
					{{ parent_url }}?organization={{ organization.pk }}
				{% else %}
					{{ organization.website }}
				{% endif %}
			"
		>
			{{ organization.title }}
		</a>
	</h2>
	{% if organization.logo %}
		{% image organization.logo fill-600x600-c100 class="blog-details__logo" %}
	{% endif %}
	{{ organization.description|richtext }}
{% endif %}
