{% load wagtailcore_tags wagtailimages_tags %}
{% with size=size|default:"big" %}
	<article class="blog-card">
		<a class="text-link--card" href="{% pageurl post %}">
			{% if photo %}
				{% image photo fill-655x440 as x1 %}
				<img
					class="card-image-{{ size }}"
					alt="{{ x1.alt }}"
					src="{{ x1.url }}"
				>
			{% endif %}
			<h3 class="card-title-{{ size }} blog-card--title">
				{{ post.title }}
			</h3>
		</a>
		{% if not photo %}
			<p class="blog-card--teaser">
				{{ post.teaser_text }}
			</p>
		{% endif %}
		<dl class="dl-inline blog-card--info">
			<dt>Published</dt>
			<dd>
				<time datetime="{{ post.publication_datetime|date:"c" }}">
					{{ post.publication_datetime|date:"F j, Y" }}
				</time>
			</dd>
			{% if post.author %}
				<dt>Written by</dt>
				<dd>
					{{ post.author.title }}
				</dd>
			{% endif %}
		</dl>
	</article>
{% endwith %}
