{% load wagtailcore_tags %}
<div class="blog-details">
	<div class="blog-details__summary">
		You are reading an article
		{% if page.author %}
			by
			<span class="blog-details__summary-subject">
				{{ page.author.title }}
			</span>
		{% endif %}
		from
		<span class="blog-details__summary-subject">
			{{ page.organization.title }}
		</span>
	</div>
	{% if page.author.specific.bio %}
		<h2 class="section-heading">
			About {{ page.author.title }}
		</h2>
		{{ page.author.specific.bio|richtext }}
	{% endif %}
	{% if page.organization.specific.description %}
		<h2 class="section-heading">
			About
			<span class="section-heading__subject">
				{{ page.organization.title }}
			</span>
		</h2>
		{{ page.organization.specific.description|richtext }}
	{% endif %}
</div>
