{% load wagtailcore_tags %}
<aside class="blog-details">
	{% if page.author or page.organization %}
		<div class="blog-details__summary">
			<p>
				You are reading an article
				{% if page.author %}
					by
					<a
						class="blog-details__link"
						href="{{ page.get_parent.url }}?author={{ page.author.pk }}"
					>
						{{ page.author.title }}
					</a>
				{% endif %}
				{% if page.organization %}
					from
					<a
						class="blog-details__link"
						href="{{ page.get_parent.url }}?organization={{ page.organization.pk }}"
					>
						{{ page.organization.title }}
					</a>
				{% endif %}
			</p>
			{% if page.link_to_original_post %}
				<a href="{{ page.link_to_original_post }}" class="blog-details__link">
					View original
				</a>
			{% endif %}
		</div>
	{% endif %}

	{% include "blog/_about_author.html" with author=page.author.specific %}

	{% include "blog/_about_org.html" with organization=page.organization.specific %}
</aside>
