{% load wagtailcore_tags wagtailsettings_tags wagtailimages_tags typogrify_tags %}
{% get_settings use_default_site=True %}

<article class="blog-grid">
	<div class="blog-grid__body">
		<div class="blog-grid__subtitle">Featured Article</div>
		<h3 class='blog-grid__title'>
			<a class="blog-grid__title-link" href="{% pageurl page %}">
				{{ page.title|typogrify }}
			</a>
		</h3>
		<div class="blog-grid__description">
			<section>
				{% if page.teaser_text %}
					{{ page.teaser_text|typogrify }}
				{% elif page.teaser_image %}
					{% include_block page.body.0|striptags|truncatewords:20|typogrify %}
				{% else %}
					{% include_block page.body.0|striptags|truncatewords:80|typogrify %}
				{% endif %}
			</section>
		</div>
	</div>
	{% if page.teaser_image %}
		{% include "common/_teaser_image.html" with page=page %}
	{% endif %}
</article>
