{% load wagtailcore_tags %}
<div class="blog-details">
	{% if page.author or page.organization %}
		<div class="blog-details__summary">
			You are reading an article
			{% if page.author %}
				by
				<a
					class="blog-details__summary-subject"
					href="{{ page.get_parent.url }}?author={{ page.author.pk }}"
				>
					{{ page.author.title }}
				</a>
			{% endif %}
			{% if page.organization %}
				from
				<a
					class="blog-details__summary-subject"
					href="{{ page.get_parent.url }}?organization={{ page.organization.pk }}"
				>
					{{ page.organization.title }}
				</a>
			{% endif %}
		</div>
	{% endif %}
	{% if page.author.specific.bio %}
		<h2 class="section-heading">
			About
			<a
				class="section-heading__subject section-heading__subject--link"
				href="{{ page.get_parent.url }}?organization={{ page.organization.pk }}"
			>
				{{ page.author.title }}
			</a>
		</h2>
		{{ page.author.specific.bio|richtext }}
	{% endif %}
	{% if page.organization.specific.description %}
		<h2 class="section-heading">
			About
			<a
				class="section-heading__subject section-heading__subject--link"
				href="{{ page.get_parent.url }}?organization={{ page.organization.pk }}"
			>
				{{ page.organization.title }}
			</a>
		</h2>
		{{ page.organization.specific.description|richtext }}
	{% endif %}
</div>
