{% load wagtailcore_tags %}

<section class="details-table">
	<dl class="details-table__blog-details">
		{% if blog.publication_datetime %}
		<div class="details-table__row">
			<dt class="details-table__label details-table__label--bold">
				Published On
			</dt>
			<dd class="details-table__value">
				{{ blog.publication_datetime|date:"F j, Y" }}
			</dd>
		</div>
		{% endif %}

		{% if blog.authors or blog.organization %}
		<div class="details-table__row">
			<dt class="details-table__label details-table__label--bold">
				Written by
			</dt>
			<dd class="details-table__value">
				{% if blog.authors %}
					{% for author in blog.authors.all %}
						<a href="{% pageurl blog.get_parent %}?author={{ author.author.pk }}" class="text-link">{{ author.summary }}</a>{% if not forloop.last %}, {% endif %}
					{% endfor %}
				{% endif %}
				{% if blog.authors and blog.organization %}from{% endif %}
				{% if blog.organization %}
					<a href="{% pageurl blog.get_parent %}?organization={{ blog.organization.pk }}" class="text-link">{{ blog.organization.title }}</a>
				{% endif %}
			</dd>
		</div>
		{% endif %}
	</dl>
</section>
