{% extends layout_template %}

{% load common_tags %}
{% load wagtailcore_tags %}

{% block head %}
	{{ block.super }}
	{% include "common/_rss_autodiscovery.html" %}
{% endblock %}

{% block secondary-header %}
	<div class="layout-right-sidebar">
		<div class="layout-right-sidebar__main layout-right-sidebar__main--no-vertical-padding">
			<div class="blog-index">
				<h2 class="page-title">{{ page.title }}</h2>
			</div>
		</div> {# /.layout-right-sidebar__main #}

		<div class="layout-right-sidebar__sidebar layout-right-sidebar__sidebar--light layout-right-sidebar__sidebar--hide-mobile">
		</div>
	</div>
{% endblock %}

{% block main %}
	{% if author_filter %}
		<div class="blog-filter">
			You are looking at articles written by
			{% if author_filter.website %}
				<a href="{{ author_filter.website }}">{{ author_filter.title }}</a>
			{% else %}
				{{ author_filter.title }}
			{% endif %}
			<div class="blog-filter__clear">
				<a href="{{ page.url }}">&times; See All Articles</a>
			</div>
		</div>
	{% endif %}
	{% if organization_filter %}
		<div class="blog-filter">
			You are looking at articles from
			{% if organization_filter.website %}
				<a href="{{ organization_filter.website }}">{{ organization_filter.title }}</a>
			{% else %}
				{{ organization_filter.title }}
			{% endif %}
			<div class="blog-filter__clear">
				<a href="{{ page.url }}">&times; See All Articles</a>
			</div>
		{% endif %}
		<div class="js-incident-loading-parent">
			{% for post in entries_page %}
				<div class="js-incident-loading-item">
					{% include "blog/_blog_tease.html" with page=post.specific location="blog-index" single_column=True %}
				</div>
			{% endfor %}
		</div>
	{% endif %}
	<div class="js-infinite-scrolling-parent">
		{% for post in entries_page %}
			<div class="js-infinite-scrolling-item">
				{% include "blog/_blog_tease.html" with page=post.specific location="blog-index" single_column=True %}
			</div>
		{% endfor %}
	</div>

	{% if entries_page.has_previous %}
		<a
			href="?{% query_transform request page=entries_page.previous_page_number %}"
				  class="js-incident-loading-prev-link"
		>
			Previous Page
		</a>
	{% endif %}

	{% if entries_page.has_next %}
		<a
			href="?{% query_transform request page=entries_page.next_page_number %}"
				  class="button button--outline button--center js-incident-loading-next-link"
		>
			More Posts
		</a>
	{% endif %}
{% endblock main %}

{% block top_sidebar_class %}
	layout-right-sidebar__sidebar--light
	layout-right-sidebar__sidebar--hide-mobile
{% endblock %}

{% block sidebar_class %}
		{{ block.super }} layout-right-sidebar__sidebar--light
{% endblock %}

{% block sidebar %}
	{% for block in page.body %}
		<div class="blog-index__description
			{% if author_filter or organization_filter %}
				blog-index__description--filtered
			{% endif %}
		">
			<h2 class="section-heading">
				{% if page.about_blog_title %}
					{{ page.about_blog_title }}
				{% else %}
					About {{ page.title }}
				{% endif %}
			</h2>
			<section class="blog-index__text">
				{% include_block block %}
			</section>
		</div>
	{% endfor %}

	{% if author_filter %}
		{% include "blog/_about_author.html" with author=author_filter %}
	{% endif %}

	{% if organization_filter %}
		{% include "blog/_about_org.html" with organization=organization_filter %}
	{% endif %}
{% endblock %}
