{% extends "base.html" %}

{% load pageurl richtext include_block from wagtailcore_tags %}

{% block main %}

	<h1 class="page-title" id="title">
		{{ page.title }}
	</h1>

	{% if page.body %}
		<div class="site-summary site-summary--blog">
			{% for block in page.body %}
				{% include_block block %}
			{% endfor %}
		</div>
	{% endif %}

	{% if featured_blogs %}
		<section class="blog-list blog-list--featured">
			<h2 class="heading-regular">Featured</h2>
			{% include 'blog/_blog_carousel.html' with blogs=featured_blogs key='featured-blogs' only %}
		</section>
	{% endif %}

	{% include 'blog/_blog_list.html' with blogs=entries_page heading=incident_listing_heading ajax_load=True request=request post_filters=post_filters type_choices=type_choices only %}

{% endblock %}
