{% extends "base.html" %}

{% block menu %}
	{% if page.blog_type == 'special' %}
		{% include "common/_menu.html" with btn_class="transparent" %}
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock %}

{% block main %}
	{% if page.blog_type == 'newsletter' %}
		{% include "blog/_newsletter_blog.html" with page=page settings=settings only %}
	{% elif page.blog_type == 'special' %}
		{% include "blog/_special_blog.html" with page=page only %}
	{% else %}
		{% include "blog/_default_blog.html" with page=page only %}
	{% endif %}

{% endblock %}
