{% load wagtailcore_tags wagtailimages_tags %}
{% with size=size|default:"big" %}
	<article class="blog-card">
		{% if photo %}
			{% image photo fill-655x440 %}
			<img
				class="card-image-{{ size }}"
				alt="{{ x1.alt }}"
				src="{{ x1.url }}"
			>
		{% endif %}
		<a class="text-link--card" href="{% pageurl post %}">
			<h3 class="card-title-{{ size }}">
				{{ post.title }}
			</h3>
		</a>
		{% if not photo %}
			<p>
				{{ post.teaser_text }}
			</p>
		{% endif %}
		<dl class="dl-inline">
			<dt>Published</dt>
			<dd>
				<time datetime="{{ post.publication_datetime|date:"c" }}">
					{{ post.publication_datetime|date:"F j, Y" }}
				</time>
			</dd>
			{% if post.author %}
				<dt>Written by</dt>
				<dd>
					{{ post.author.title }}
				</dd>
			{% endif %}
	</article>
{% endwith %}
