{% extends "base.html" %}

{% load wagtailcore_tags render_as_template %}

{% block main %}
	<h1>{{ page.title }}</h1>

	<article>
	{% for block in page.body %}
		{% if block.block_type == 'rich_text' %}
			<section>{% render_as_template block.value %}</section>
		{% else %}
			<section>{% include_block block %}</section>
		{% endif %}
	{% endfor %}
	</article>

	<p><a href="{% pageurl page.get_parent %}">Return to blogs</a></p>

{% endblock %}

{% block sidebar %}
	<p>{{ page.publication_datetime|date:"F j, Y"  }}</p>

	{% if page.author %}
		<a href="{% pageurl page.author %}">
		  {{page.author.specific.title}}
		</a>
	{% endif %}

	{% if page.organization %}
		<a href="{% pageurl page.organization %}">
		  {{page.organization.specific.title}}
		</a>
	{% endif %}
{% endblock %}
