.autocomplete__search
	width: 100%
	border-radius: $border-radius
	padding: 0.3em 0.5em
	padding-left: 1.4em
	background-color: $lighter-violet
	border: 0

	&--has-input
		background-color: $white


.autocomplete__search-icon
	width: 1.2em
	height: 1.2em
	top: 8px
