{% load wagtailcore_tags %}

{% if page.arrest_status %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Arrest Status
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?arrest_status={{ page.arrest_status }}">
				{{ page.get_arrest_status_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.status_of_charges %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Status of Charges
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?status_of_charges={{ page.status_of_charges }}">
				{{ page.get_status_of_charges_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.current_charges.all %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Current Charges
		</th>
		<td class="data-table__value">
			<ul class="data-table__list">
				{% for charge in page.current_charges.all %}
					<li class="data-table__list-item">
						<a href="{% pageurl page.get_parent %}?current_charges={{ charge.pk }}">
							{{ charge.title|capfirst }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
{% endif %}

{% if page.dropped_charges.all %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Dropped charges
		</th>
		<td class="data-table__value">
			<ul class="data-table__list">
				{% for charge in page.dropped_charges.all %}
					<li class="data-table__list-item">
						<a href="{% pageurl page.get_parent %}?dropped_charges={{ charge.pk }}">
							{{ charge.title|capfirst }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
{% endif %}

{% if page.detention_date %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Detention Date
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?detention_date_lower={{ page.detention_date|date:'Y-m-d' }}&detention_date_upper={{ page.detention_date|date:'Y-m-d' }}">
			{{ page.detention_date|date:"F j, Y" }}
		</td>
	</tr>
{% endif %}

{% if page.release_date %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Release Date
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?release_date_lower={{ page.release_date|date:'Y-m-d' }}&release_date_upper={{ page.release_date|date:'Y-m-d' }}">
				{{ page.release_date|date:"F j, Y" }}
			</a>
		</td>
	</tr>
{% endif %}
