{% load wagtailcore_tags %}

{% if page.border_point %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Border Point
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?border_point={{ page.border_point }}">
				{{ page.border_point }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.target_nationality.all %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Target Nationality
		</th>
		<td class="data-table__value">
			<ul class="data-table__list">
				{% for nationality in page.target_nationality.all %}
					<li class="data-table__list-item">
						<a href="{% pageurl page.get_parent %}?target_nationality={{ nationality.pk }}"">{{ nationality.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
{% endif %}

{% if page.target_us_citizenship_status %}
	<tr class="data-table__row">
		<th class="data-table__label">
			US Citizenship Status of Target
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?target_us_citizenship_status={{ page.target_us_citizenship_status }}">

				{{ page.get_target_us_citizenship_status_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.denial_of_entry %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Deinied Entry?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?denial_of_entry={{ page.denial_of_entry }}">
				{% if page.denial_of_entry %}
					Yes
				{% else %}
					No
				{% endif %}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.stopped_previously %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Stopped Previously?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?stopped_previously={{ page.stopped_previously }}">
				{% if page.stopped_previously %}
					Yes
				{% else %}
					No
				{% endif %}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.did_authorities_ask_for_device_access %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Asked for device access?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?did_authorities_ask_for_device_access={{ page.did_authorities_ask_for_device_access }}">
				{{ page.get_did_authorities_ask_for_device_access_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.did_authorities_ask_for_social_media_user %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Asked to display social media?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?did_authorities_ask_for_social_media_user={{ page.did_authorities_ask_for_social_media_user }}">
				{{ page.get_did_authorities_ask_for_social_media_user_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.did_authorities_ask_for_social_media_pass %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Asked for social media passwords?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?did_authorities_ask_for_social_media_pass={{ page.did_authorities_ask_for_social_media_pass }}">
				{{ page.get_did_authorities_ask_for_social_media_pass_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.did_authorities_ask_about_work %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Asked intrusive questions about work?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?did_authorities_ask_about_work={{ page.did_authorities_ask_about_work }}">
				{{ page.get_did_authorities_ask_about_work_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}
