{% load wagtailcore_tags render_as_template %}

<div>
	<h3 class="section-heading">
		How we track
		{% if category.plural_name %}
			{{ category.plural_name|title }}
		{% else %}
			{{ category|title }}
		{% endif %}
	</h3>
	<p>
		{% with method=category.methodology|richtext %}
			{% render_as_template method %}
		{% endwith %}
	</p>
</div>
<h3 class="section-heading">
	<a href="{% pageurl category %}" >
		More
		{% if category.plural_name %}
			{{ category.plural_name|title }}
		{% else %}
			{{ category|title }}
		{% endif %}
		&gt;
	</a>
</h3>
