<section class="details-table">
	<h3 class="heading-table" id="incident-details-title">Incident Details</h3>
	<button class="disclose-summary details-toggle-btn" aria-expanded="false" aria-controls="incident-details" id="details-toggle-btn">
		Show More
	</button>
	<div class="details-table__container" id="incident-details" data-visible="false">
		{% include "incident/_incident_details_table.html" with incident=incident only %}

		{% for category, category_detail in category_details.items %}
			{% include "incident/_category_table.html" with category=category category_detail=category_detail only %}
		{% endfor %}
	</div>
</section>
