<span id="js-tag-filters-target"></span>
<script type="text/javascript">
	;(function() {
		function handleLoad() {
			window.ReactDOM.render(
				window.React.createElement(
					window.IncidentFiltering,
					{ availableCategories: {{ category_options|safe }}
					{% if apply_externally and external %}
					, applyExternally: true
					, external: '{{ external.url }}'
					{% else %}
					, applyExternally: false
					{% endif %}
					}
				),

				document.getElementById('js-tag-filters-target')
			);

		}

		document.addEventListener('DOMContentLoaded', handleLoad);
	})();
</script>
