{% comment %}
This template displays the incident box for a single incident page.
It can take the following context variables:

	incident -- an IncidentPage instance
	teaser -- whether this is a short teaser of an incident (default: False)
{% endcomment %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% with incident.categories.all.first.category as main_category %}
<article class="
	incident
	incident--{{ main_category|slugify }}
	{% if teaser %}
		incident--teaser
	{% else %}
		incident--full
	{% endif %}
">
	<div class="incident__body">
		{% if incident.teaser_image %}
			{% image incident.teaser_image fill-665x440 as x1 %}
			{% image incident.teaser_image fill-1330x880 as x2 %}
			<img
				class="incident__top-image"
				alt="{{ x1.alt }}"
				src="{{ x1.url }}"
				srcset="{{ x2.url }} 2x"
			/>
		{% endif %}

		<h3 class="incident__category-name incident__category-name--{{ main_category|slugify }}">
			<a
				href="{% pageurl main_category %}"
				class="incident__title-link">{{ main_category }}
			</a>
		</h3>
		<h1 class='incident__title'>
			{% if teaser %}
				<a class="incident__title-link" href="{% pageurl incident %}">
					{{ incident.title }}
				</a>
			{% else %}
				{{ incident.title }}
			{% endif %}
		</h1>
		{% if not teaser %}
			<h5 class='incident__date'>
				{{ incident.date|date:"F j, Y" }}
			</h5>
		{% endif %}
		<div class="incident__description">
			{% if teaser %}
				<section>
					{% include_block incident.body.0|truncatewords_html:20 %}
				</section>
			{% else %}
				{% for block in incident.body %}
					<section>{% include_block block %}</section>
				{% endfor %}
			{% endif %}
		</div>
		{% if not teaser %}
			{% for update in incident.updates.all %}
				<div class="incident__update-item">
					<h5 class='incident__date'>
						{{update.date|date:"F j, Y"}} Update
					</h5>
					<div class="incident__description">
						{% for block in update.body %}
							<section>{% include_block block %}</section>
						{% endfor %}
					</div>
				</div>
				<section>
					<h5></h5>
				</section>
			{% endfor %}
		{% endif %}
	</div>
</article>
{% endwith %}
