{% load common_tags %}
{% with id=key|add_as_string:'-carousel' %}
	<ol id="{{ id }}" class="article-carousel__items">
		{% for incident in incidents %}
			<li class="article-carousel__item">
				{% include 'incident/_incident_card.html' with size="small" details="small" incident=incident photo=incident.teaser_image only %}
			</li>
		{% endfor %}
	</ol>

	<div class="article-carousel__scroller" role="scroller" data-articles="{{ id }}">
		<button class="article-carousel__scroller--button article-carousel__scroller--button-prev">
			{% include 'common/arrow-prev.svg' %}
		</button>
		<button class="article-carousel__scroller--button article-carousel__scroller--button-next">
			{% include 'common/arrow-next.svg' %}
		</button>
	</div>
{% endwith %}
