{% comment %}
This template displays the incident box for a single incident page.
It can take the following context variables:

	incident -- an IncidentPage instance
	teaser -- whether this is a short teaser of an incident (default: False)
{% endcomment %}

{% load wagtailcore_tags wagtailimages_tags typogrify_tags %}
{% load render_as_template %}

<article class="
	incident
	incident--{{ incident.get_main_category.page_color }}
	{% if teaser %}
		incident--teaser
	{% else %}
		incident--full
	{% endif %}
">
	{% if incident.teaser_image %}
		{% if teaser %}
			{% include "common/_teaser_image.html" with page=incident %}
		{% else %}
			{% include "common/_top_image.html" with page=incident %}
		{% endif %}
	{% endif %}
	<div class="incident__body">
			<ul class="category-list">
				{% for category in incident.categories.all %}
					<li class="
						category-list__item
						category-list__item--{{ category.category.page_color }}
					"><a
						href="{% pageurl category.category %}"
						class="category-list__link"
					>
						{{ category.category.title }}
					</a></li>
				{% endfor %}
			</ul>
		{% if teaser %}
			<h3 class='incident__title'>
				<a class="incident__title-link" href="{% pageurl incident %}">
					{{ incident.title|typogrify }}
				</a>
			</h3>
		{% else %}
			<h2 class="incident__title">
				{{ incident.title|typogrify }}
			</h2>
		{% endif %}
		<div class='incident__date'>
				{% include "incident/_incident_date.html" %}
				{% if teaser and incident.recently_updated %}
				<span
					class="alert alert--green"
					title="Updated {{ incident.last_updated|date:'F j, Y'}}"
				>
					Recently Updated
				</span>
			{% endif %}
		</div>
		<div class="incident__description">
			{% if teaser %}
				<section>
					{% if incident.teaser %}
						{{ incident.teaser|typogrify }}
					{% elif incident.teaser_image %}
						{% include_block incident.body.0|striptags|truncatewords:20|typogrify %}
					{% else %}
						{% include_block incident.body.0|striptags|truncatewords:80|typogrify %}
					{% endif %}
				</section>
			{% else %}
				{% for block in incident.body %}
					{% if block.block_type == 'rich_text' %}
						<section>{% filter typogrify %}{% include_block block %}{% endfilter %}</section>
					{% else %}
						<section>{% include_block block %}</section>
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
		{% if not teaser %}
			{% for update in incident.updates.all %}
				<div class="incident__update-item">
					<div class='incident__date'>
						{{update.date|date:"F j, Y"}} Update
					</div>
					<div class="incident__description">
						{% for block in update.body %}
							{% if block.block_type == 'rich_text' %}
								<section>
									{% filter typogrify %}{% render_as_template block.value %}{% endfilter %}
								</section>
							{% else %}
								<section>{% include_block block %}</section>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			{% if incident.links.exists %}
				<div class="related-links">
					<h4 class="related-links__header">
						Sources
					</h4>
					<ol class="related-links__list">
						{% for link in incident.links.all %}
							<li class="related-links__item">
								<a href="{{ link.url }}">{{ link.title|typogrify }}</a>
								{% if link.publication %}
									<span class="related-links__text">
										({{ link.publication }})
									</span>
								{% endif %}
							</li>
						{% endfor %}
					</ol>
				</div>
			{% endif %}{# incident.links.exists #}
		{% endif %}{# not teaser #}
	</div>
</article>
