{% load wagtailcore_tags %}
<article class="incident-database-card js-article-loading-item">
	<div class="incident-database-card__section">
		<a class="incident-database-card__title-link" href="{% pageurl incident %}">
			<h3 class="card-title-database incident-database-card__title">
				{% for cat in incident.categories.all %}
					<span class="category category-{{ cat.category.page_symbol }}"></span>
				{% endfor %}
				{{ incident.title }}
			</h3>
		</a>
		{% if incident.tags.all %}
			<ul class="incident-database-card__tags tag-list">
				{% for tag in incident.tags.all %}
					<li><a href="{% pageurl index %}?tags={{ tag.title|urlencode }}" class="btn btn-tag">#{{ tag.title }}</a></li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>

	{% include "incident/_database_card_details.html" with incident=incident index=index only %}
</article>
