{% comment %}
This template displays the incident box for a single incident page.
It can take the following context variables:

	incident -- an IncidentPage instance
	teaser -- whether this is a short teaser of an incident (default: False)
{% endcomment %}

{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% with main_category=incident.get_main_category %}
<article class="
	incident
	incident--{{ main_category|slugify }}
	{% if teaser %}
		incident--teaser
	{% else %}
		incident--full
	{% endif %}
">
	{% if incident.teaser_image %}
		{% if teaser %}
			{% image incident.teaser_image fill-665x440 as x1 %}
			{% image incident.teaser_image fill-1330x880 as x2 %}
			<a href="{% pageurl incident %}" class="incident__image-link">
				<img
					class="incident__top-image incident__top-image--teaser"
					alt="{{ x1.alt }}"
					src="{{ x1.url }}"
					srcset="{{ x2.url }} 2x"
					{% if incident.image_caption %}
						title="{{ incident.image_caption }} ({{ incident.image_attribution|upper }})"
					{% endif %}
				/>
			</a>
		{% else %}
			{% image incident.teaser_image width-1440 as x1 %}
			{% image incident.teaser_image width-2880 as x2 %}
			<img
				class="incident__top-image"
				alt="{{ x1.alt }}"
				src="{{ x1.url }}"
				srcset="{{ x2.url }} 2x"
			/>
			{% if incident.image_caption or incident.image_attribution %}
				<aside
					class="caption {% if not incident.image_caption %} caption--att-only {% endif %}"
				>
					{% if incident.image_caption %}
						<div class="caption__text">
							{{ incident.image_caption|richtext }}
						</div>
					{% endif %}

					{% if incident.image_attribution %}
						<div class="caption__attribution {% if not caption %} caption__attirbution--att-only {% endif %}">
							{{ incident.image_attribution }}
						</div>
					{% endif %}
				</aside>
			{% endif %}
		{% endif %}
	{% endif %}
	<div class="incident__body">
		<h3 class="incident__category-name incident__category-name--{{ main_category|slugify }}">
			<a
				href="{% pageurl main_category %}"
				class="incident__title-link"
			>
				{{ main_category }}
			</a>
		</h3>
		<h1 class='incident__title'>
			{% if teaser %}
				<a class="incident__title-link" href="{% pageurl incident %}">
					{{ incident.title }}
				</a>
			{% else %}
				{{ incident.title }}
			{% endif %}
		</h1>
		<h5 class='incident__date'>
			{{ incident.date|date:"F j, Y" }}
			{% if teaser and incident.recently_updated %}
				<span
					class="alert alert--green"
					title="Updated {{ incident.last_updated|date:'F j, Y'}}"
				>
					Recently Updated
				</span>
			{% endif %}
		</h5>
		<div class="incident__description">
			{% if teaser %}
				<section>
					{% if incident.teaser %}
					{{ incident.teaser|richtext }}
					{% else %}
					{% include_block incident.body.0|truncatewords_html:20 %}
					{% endif %}
				</section>
			{% else %}
				{% for block in incident.body %}
					<section>{% include_block block %}</section>
				{% endfor %}
			{% endif %}
		</div>
		{% if not teaser %}
			{% for update in incident.updates.all %}
				<div class="incident__update-item">
					<h5 class='incident__date'>
						{{update.date|date:"F j, Y"}} Update
					</h5>
					<div class="incident__description">
						{% for block in update.body %}
							<section>{% include_block block %}</section>
						{% endfor %}
					</div>
				</div>
				<section>
					<h5></h5>
				</section>
			{% endfor %}
			{% if incident.links.exists %}
				<div class="related-links">
					<h4 class="related-links__header">
						Sources
					</h4>
					<ol class="related-links__list">
						{% for link in incident.links.all %}
							<li class="related-links__item">
								<a href="{{ link.url }}">{{link.title}}</a>
							</li>
						{% endfor %}
					</ol>
				</div>
			{% endif %}{# incident.links.exists #}
		{% endif %}{# not teaser #}
	</div>
</article>
{% endwith %}
