{% load wagtailcore_tags %}

{% if page.lawsuit_name %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Name of Lawsuit
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?lawsuit_name={{ page.lawsuit_name }}">
				{{ page.lawsuit_name }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.venue.all %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Venue
		</th>
		<td class="data-table__value">
			<ul class="data-table__list">
				{% for venue in page.venue.all %}
					<li class="data-table__list-item data-table__list-item--inline">
						<a href="{% pageurl page.get_parent %}?venue={{ venue.pk }}">{{ venue }}</a></li>
				{% endfor %}
		</td>
	</tr>
{% endif %}
