{% if page.lawsuit_name %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Name of Lawsuit
		</th>
		<td class="data-table__value">
			{{ page.lawsuit_name }}
		</td>
	</tr>
{% endif %}

{% if page.venue.all %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Venue
		</th>
		<td class="data-table__value">
			<ul class="data-table__list">
				{% for venue in page.venue.all %}
					<li class="data-table__list-item data-table__list-item--inline">
						{{ venue }}</li>
				{% endfor %}
		</td>
	</tr>
{% endif %}
