{% load wagtailcore_tags %}

{% if page.workers_whose_communications_were_obtained.all %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Targets whose Communications Were Obtained
		</th>
		<td class="data-table__value">
			<ul class="data-table__list">
				{% for target in page.workers_whose_communications_were_obtained.all %}
					<li class="data-table__list-item">
						<a href="{% pageurl page.get_parent %}?workers_whose_communications_were_obtained={{ target.pk }}">{{ target.title }}</a>
					</li>
				{% endfor %}
			</ul>
		</td>
	</tr>
{% endif %}
{% if main_category.title == 'Leak Prosecutions' or page.charged_under_espionage_act %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Charged under Espionage Act
		</th>
		<td class="data-table__value">
			{% if page.charged_under_espionage_act %}
				<a href="{% pageurl page.get_parent %}?charged_under_espionage_act={{page.charged_under_espionage_act}}">
					Yes
				</a>
			{% else %}
				<a href="{% pageurl page.get_parent %}?charged_under_espionage_act={{page.charged_under_espionage_act}}&categories={{ main_category.title }}">
					No
				</a>
			{% endif %}
		</td>
	</tr>
{% endif %}
