{% load wagtailcore_tags %}

{% if page.third_party_in_possession_of_communications %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Third Party in Possession of Communications
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?third_party_in_possession_of_communications={{ page.third_party_in_possession_of_communications }}">
				{{ page.third_party_in_possession_of_communications|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.third_party_business %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Third Party Business
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?third_party_business={{ page.third_party_business }}">
				{{ page.get_third_party_business_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.legal_order_type %}
	<tr class="data-table__row">
		<th class="data-table__label">
			Legal Order Type
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?legal_order_type={{ page.legal_order_type }}">
				{{ page.get_legal_order_type_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}
