{% load wagtailcore_tags %}

{% if page.assailant %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Assailant
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?assailant={{ page.assailant }}">
				{{ page.get_assailant_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}

{% if page.was_journalist_targeted %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Was the journalist targeted?
		</th>
		<td class="data-table__value">
			<a href="{% pageurl page.get_parent %}?was_journalist_targeted={{ page.was_journalist_targeted }}">
				{{ page.get_was_journalist_targeted_display|capfirst }}
			</a>
		</td>
	</tr>
{% endif %}
