<section class="list-table ">
	<div class="list-table__headings">
		<h3 class="heading-table">Incidents from the same event</h3>
		<h3 class="heading-table">Targets</h3>
		<h3 class="heading-table">Updated On</h3>
	</div>
	<ul class="list-table--col-3">
		{% for incident in same_event_incidents %}
		<li class="list-table__row">
			<div class="list-table__item anim-table-row">
				<div class="list-table__col">{{ incident.title }}</div>
				<div class="list-table__col">{{ incident.targets}}</div>
				<div class="list-table__col">{{ incident.last_updated }}</div>
				<div class="list-table__link"><a href="{% pageurl incident %}" class="anim-table-mainlink">Go to the incident &rarr;</a></div>
			</div>
		</li>
		{% endif %}
	</ul>
</section>
