<div
	class="search-bar"
	data-tags="{{ data_viz_tags_json|escape }}"
>
	<form class="search-form" method="GET" action="{{ action }}">
		<label for="primary-search-bar" class="sr-only">
			Search incidents by text
		</label>
		<input
			id="primary-search-bar"
			placeholder="{{ placeholder_text|default:"Search incidents" }}"
			spellcheck="false"
			autocomplete="off"
			type="search"
			class="text-field--search-bar"
			name="search"
			value="{{ value }}"
		>
		<button type="submit" class="btn btn-ghost search-button" value="Search">
			Search
		</button>

	</form>
</div>

{% load render_bundle from webpack_loader %}
{% render_bundle 'searchBar' 'js' %}
