<section class="list-table">
	<h3 class="heading-table">Sources</h3>
	<ul class="list-table--col-2">
		{% for source in sources %}
		<li class="list-table__row anim-table-row">
			<div href="{{ source.link }}" class="list-table__item">
				<div class="list-table__col">{{ source.title }}</div>
				<div class="list-table__col">{{ source.publisher }}</div>
				<div class="list-table__link"><a href="{{ source.link }}" class="anim-table-mainlink">Go to the article &rarr;</a></div>
			</div>
		</li>
		{% endfor %}
	</ul>
</section>
