{% if page.subpoena_type %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Subpoena Type
		</th>
		<td class="data-table__value">
			{{ page.get_subpoena_type_display }}
		</td>
	</tr>
{% endif %}

{% if page.subpoena_status %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Subpoena Status
		</th>
		<td class="data-table__value">
			{{ page.get_subpoena_status_display }}
		</td>
	</tr>
{% endif %}

{% if page.held_in_contempt %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Journalist held in contempt?
		</th>
		<td class="data-table__value">
			{{ page.get_held_in_contempt_display }}
		</td>
	</tr>
{% endif %}

{% if page.detention_status %}
	<tr class='data-table__row'>
		<th class="data-table__label">
			Detention Status
		</th>
		<td class="data-table__value">
			{{ page.get_detention_status_display }}
		</td>
	</tr>
{% endif %}

