{% load query_transform from common_tags %}

<div class="grid-50 js-incident-loading-parent">
	{% for incident in entries_page %}
		<div class="grid-50__item js-incident-loading-item">
			{% include "incident/_incident.html" with incident=incident teaser=True %}
		</div>
	{% empty %}
		<p class="grid-50__item">There are no incidents in this topic.</p>
	{% endfor %}
</div>

{% if entries_page.has_next %}
	<a
		href="?{% query_transform request page=entries_page.next_page_number %}"
				class="button button--outline button--center js-incident-loading-next-link"
	>
		More Incidents
	</a>
{% endif %}

<div class="topic-incidents">
	{% for incident in tagged_incidents %}
		<div class="grid-50__item js-incident-loading-item">
			{% include "incident/_incident.html" with incident=incident.specific teaser=True %}
		</div>
	{% endfor %}
</div>
