{% extends "base.html" %}

{% load webpack_loader humanize %}

{% block main %}
	<h1 class="page-title" id="title">Incidents Database</h1>
	<button class="mobile-filter-toggle" aria-controls="database-filters" aria-expanded="false">
		Filters
	</button>

	<section class="incident-index__search-area">
		<div class="incident-index__search-bar">
			{% include 'incident/_search_bar.html' with placeholder_text="Search incidents by text, date..." %}
		</div>
		<div class="incident-index__download">
			<details class="incident-index__download-details">
				<summary class="btn incident-index__download-button">
					Download dataset
				</summary>
				<div class="incident-index__download-select">
					<div class="incident-index__download-wrapper">
						<div class="incident-index__download-list">
							<a href="{{ export_path }}" class="incident-index__download-item incident-index__download-item--downloadable">
								Download full dataset
								<span class="incident-index__incident-count">{{ all_incident_count|intcomma }} incident{{ all_incident_count|pluralize }}</span>
							</a>
							{% if filtered_export_path %}
								<a href="{{ filtered_export_path }}" class="incident-index__download-item incident-index__download-item--downloadable">
								Download your filtered data
									<span class="incident-index__incident-count">{{ incident_count|intcomma }} incident{{ incident_count|pluralize }}</span>
								</a>
							{% endif %}
							<a href="#" class="incident-index__download-item incident-index__download-item--more">Learn more</a>
						</div>
					</div>
				</div>
			</details>
		</div>
	</section>
	<section class="incident-index__body">


		<div id="database-filters" class="incident-index__filters" data-visible="false">
			<div class="incident-index__filters-wrapper">
				{% include 'incident/_filters.html' %}
			</div>
			<div class="incident-index__filters-mobile-controls">
				<a class="incident-index__filters-mobile-clear" href="{{ page.url }}">Clear All</a>
				</button>
				<button class="btn btn-secondary">
					Show {{ incident_count|intcomma }} incidents
				</button>
			</div>
		</div>

		<div class="incident-index__body-header">
			<div class="incident-index__body-header-controls">
				<p class="paragraph-subtitle">
					{{ incident_count|intcomma }} incident{{ incident_count|pluralize }} recorded
				</p>
				<details class="incident-index__sort-details">
					<summary class="btn incident-index__sort-button">
						Sort by
						<div>
							&udarr; <span class="incident-index__sort-selection">{{ selected_sort.label }}</span>
						</div>
					</summary>
					<div class="incident-index__sort-menu">
						<div class="incident-index__sort-modal">
							<header class="incident-index__sort-header">
								<h3 class="incident-index__sort-title">
									Sort incidents by
								</h3>
							</header>
							<div class="incident-index__sort-list">
								{% for choice in sort_choices %}
									<a class="incident-index__sort-item{% if choice.2 %} incident-index__sort-item--selected{% endif %}" href="?{{ choice.0 }}">
										{{ choice.1 }}
									</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</details>
			</div>
			<div class="incident-index__column-header incident-index__column-header--incident">Incident</div>
			<div class="incident-index__column-header incident-index__column-header--incident-details">Incident Details</div>
			<div class="incident-index__column-header incident-index__column-header--category-details">Category Details</div>
		</div>

		<div class="incident-index__results">
			{% for incident in entries_page %}
				{% include "incident/_incident_database_card.html" with incident=incident index=page only %}
			{% endfor %}
		</div>
	</section>
{% endblock %}
