{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block main %}
	<h1>{{ page.title }}</h1>
	<!-- Details table-->
	{% include "incident/_details_table.html" with incident=page category_details=category_details only %}

	<!-- TODO: Stream block templates-->
    {% for block in page.body %}
        <section>{% include_block block %}</section>
    {% endfor %}

	<!-- Source table (TODO): Only the template styling has been implemented. Backend feature to be implemented -->
	{% if sources %}
		{% include "incident/_source_table.html" with sources=sources only %}
	{% endif %}

	<!-- Incidents from same event(TODO): Only the template styling has been implemented. Backend feature to be implemented-->
	{% if same_event_incidents %}
		{% include "incident/_same_event_incident_table.html" with same_event_incidents=same_event_incidents only %}
	{% endif %}
{% endblock %}
