{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block main %}
	<!-- Details table-->
	{% include "incident/_details-table.html" with incident=page only %}

	<!-- TODO: Stream block templates-->

	<!-- Source table (TODO): Only the template styling has been implemented. Backend feature to be implemented -->
	{% if sources %}
		{% include "incident/_source-table.html" with sources=sources only %}
	{% endif %}

	<!-- Incidents from same event(TODO): Only the template styling has been implemented. Backend feature to be implemented-->
	{% if same_event_incidents %}
		{% include "incident/_same-event-incident-table.html" with same_event_incidents=same_event_incidents only %}
	{% endif %}
{% endblock %}
