{% extends "base.html" %}

{% load webpack_loader %}

{% block main %}
	<h1 class="page-title">Incidents Database</h1>

	<section class="incident-index__search-area">
		<div class="incident-index__search-bar">
			{% include 'incident/_search_bar.html' with placeholder_text="Search incidents by text, date..." %}
		</div>
		<div class="incident-index__download">
			<a class="btn-secondary incident-index__download-button">Download dataset</a>
		</div>
	</section>

	{% include 'incident/_filters.html' %}

	<section class="incident-index">
		{% for incident in entries_page %}
			{% include "incident/_incident_database_card.html" with incident=incident only %}
		{% endfor %}
	</section>
{% endblock %}
