{% extends "base.html" %}

{% load webpack_loader humanize %}

{% block main %}
	<h1 class="page-title">Incidents Database</h1>

	<section class="incident-index__search-area">
		<div class="incident-index__search-bar">
			{% include 'incident/_search_bar.html' with placeholder_text="Search incidents by text, date..." %}
		</div>
		<div class="incident-index__download">
			<details class="incident-index__download-details">
				<summary class="btn incident-index__download-button">
					Download dataset
				</summary>
				<div class="incident-index__download-select">
					<div class="incident-index__download-wrapper">
						<div class="incident-index__download-list">
							<a href="#" class="incident-index__download-item">
								Download full dataset
								<span>{{ incident_count|intcomma }} incidents</span>
							</a>
							<a href="#" class="incident-index__download-item">
								Download your filtered data
								<span>394 incidents</span>
							</a>
							<a href="#" class="incident-index__download-item incident-index__download-item--more">Learn more</a>
						</div>
					</div>
			</details>
		</div>
	</section>
	<section class="incident-index__results">
		<div class="incident-index__results-header">
			<p class="paragraph-subtitle">
				{{ incident_count|intcomma }} incidents recorded
			</p>
			<details class="incident-index__sort-details" open>
				<summary class="btn incident-index__sort-button">
					Sort by <span>&udarr;</span>
				</summary>
				<div class="incident-index__sort-menu">
					<div class="incident-index__sort-modal">
						<header class="incident-index__sort-header">
							<h3 class="incident-index__sort-title">
								Sort incidents by
							</h3>
						</header>
						<div class="incident-index__sort-list">
							<button class="incident-index__sort-item">
								Recently updated
							</button>
							<button class="incident-index__sort-item">
								Newest incident date
							</button>
							<button class="incident-index__sort-item">
								Oldest incident date
							</button>
						</div>
					</div>
				</div>
			</details>
		</div>
		{% for incident in entries_page %}
			{% include "incident/_incident_database_card.html" with incident=incident only %}
		{% endfor %}
	</section>
{% endblock %}
