{% extends "base.html" %}

{% block title %}Unconfirmed Incidents{% endblock %}

{% block main %}
	<h1 class="page-title">Unconfirmed Incidents</h1>
	<section class="simplepage-body">
		<p>Unconfirmed incidents are possible press freedom aggressions that our team is working to verify for documentation. Read more about the reporting process on our FAQ page.</p>

		<h2>Past 30 days</h2>

		<div
			class="js-prepub-bar-chart"
			data-chart-dataset="{{ bar_chart_dataset }}"
		></div>

		<h2>Ongoing Unconfirmed Incidents</h2>
		<table class="unconfirmed-incidents">
			<caption>
				Updated {{ updated_time }}
			</caption>
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Location</th>
					<th scope="col">Incidents</th>
				</tr>
			</thead>
			<tbody>
				{% for row in prepubs %}
					<tr>
						<td>{{ row.date|date:"n/j/y" }}</td>
						<td>{{ row.city }}, {{ row.state }}</td>
						<td>
							<span style="--incident-count: {{ row.incident_count }}" class="unconfirmed-incidents--count">
								{{ row.incident_count  }}
							</span>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</section>


{% endblock %}
