{% extends "base.html" %}

{% block title %}Unconfirmed Incidents{% endblock %}

{% block main %}
	<h1 class="unconfirmed-incidents--page-title page-title">Unconfirmed Incidents</h1>
	<section class="simplepage-body">
		<p>Unconfirmed incidents are possible press freedom aggressions that our team is working to verify for documentation. Read more about the reporting process on our FAQ page.</p>

		<h2>Past 30 days</h2>

		<div
			class="js-prepub-bar-chart"
			data-chart-dataset="{{ bar_chart_dataset }}"
		></div>

		<h2>Ongoing Unconfirmed Incidents</h2>
		{% include "incident/_prepub_table.html" with prepubs=prepubs updated_time=updated_time row_limit=None only %}
	</section>


{% endblock %}
