.blockquote
	+p-remove-first-and-last-margin
	color: $gray-light-text
	line-height: 1.5
	margin: 1rem $simple-page-padding
	padding-left: 2em

	@media(min-width: $small-screen-min)
		padding-left: 3em

	&__citation
		+p-remove-first-and-last-margin
		+underline-link
		display: block
		font-style: normal
		margin-top: 0.5em
		text-transform: uppercase
