.heading-block
	font-weight: $serif-regular
	padding: 1rem $simple-page-padding

.heading-block--3
	font-size: 1em * 1.414


.heading-block--2
	font-size: 1em * 1.414 * 1.414


.heading-block--1
	font-size: 1em * 1.414 * 1.414 * 1.414
	font-family: $serif
