.logo-list
	$max-height: 100px
	$max-width: 240px


	+list-unstyled
	+flex-center-center-row
	flex-wrap: wrap
	margin: $simple-page-padding


	&__image,
	.stream-sections &__image
		max-height: $max-height
		max-width: $max-width
		margin: 1rem 2rem
