.stream-sections
	+clearfix
	margin-bottom: 1em
	color: $gray-mid-text

	h1, h2, h3, h4, h5, h6
		color: $gray-dark

	img
		max-width: 100%
		height: auto

.stream-section
	+p-remove-first-and-last-margin
	padding: 0 $simple-page-padding

@each $name, $color in $background-colors
	.stream-section--#{$name}
		background-color: $color
		padding-top: 1.5rem
		padding-bottom: 1.5rem
		clear: both
		color: $white
		&:not(last-first)
			margin-top: 1.5rem
		&:not(last-child)
			margin-bottom: 1.5rem

.stream-sections
	blockquote,
	.rich-text
		line-height: 1.5
