.stream-sections
	+clearfix
	margin-bottom: 1rem

	img
		max-width: 100%
		height: auto

.stream-section
	+p-remove-first-and-last-margin
	padding: 0 $simple-page-padding
	color: $white

.stream-section--outline
	border-top: 1px solid $gray-light
	border-bottom: 1px solid $gray-light

.stream-section--white:first-child
	padding-top: 0


@each $name, $color in $background-colors
	.stream-section--#{$name}
		background-color: $color
		padding-top: 1em
		padding-bottom: 1em
		clear: both

.stream-section--white
	color: $gray-mid-text
	clear: none
