$white: white
$gray: #e6e6e6
$light-coral: #f37e77

$input-border-color: $gray
$selection-bg: $light-coral
$selection-fg: $white

$wagtail-border-radius: 6px


@import accessibility
@import autocomplete
@import layout
@import selection
@import suggestions
