{% extends "wagtailadmin/base.html" %}

{% block titletag %}Mailchimp Groups{% endblock %}

{% block content %}
	{% if error %}
		<div class="nice-padding">
			<p>Error: {{ error }}</p>
		</div>
	{% else %}
		<table class="listing full-width">
			<thead>
				<tr>
					<th>Audience Name</th>
					<th>Audience ID</th>
					<th>Category</th>
					<th>Group Name</th>
					<th>Group ID</th>
				</tr>
			</thead>
			<tbody>
				{% for row in table_data %}
					<tr>
						<td>{{ row.0 }}</td>
						<td><code>{{ row.1 }}</code></td>
						<td>{{ row.2 }}</td>
						<td>{{ row.3 }}</td>
						<td><code>{{ row.4 }}</code></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
