{% extends "super.html" %}
{% load get_menu %}
{% load static wagtailuserbar %}
{% load render_bundle from webpack_loader %}
{% load piwik %}

{% block body %}
	{% wagtailuserbar %}

	{% get_menu 'main' as menu_items %}
	<div class="flex-container {% block flex_class %} flex-container--grow-2 {% endblock %}">
		<div class="layout-right-sidebar">
			<div class="layout-right-sidebar__main layout-right-sidebar__main--header">
				{% block top %}
					{% include "common/_header.html" %}
				{% endblock %}

			</div>

			<div
				class="layout-right-sidebar__sidebar
				 {% block top_sidebar_class %}
					layout-right-sidebar__sidebar--hide-mobile
				 {% endblock %}"
			>
				{% block top_sidebar %}
				{% endblock %}
			</div>
		</div>

		{% block secondary-header %}
		{% endblock %}

		<div class="layout-right-sidebar">
			<div class="layout-right-sidebar__main {% block main_class %} {% endblock %}">
				{% block maincontainer %}
				  <main role="main" class="site-main container">
					{% block main %}{% endblock %}
				  </main>{# /.main #}
				{% endblock %}
			</div>

			<div class="layout-right-sidebar__sidebar {% block sidebar_class %}{% endblock %}">
				{% block sidebar %}
				{% endblock %}
			</div>
		</div>

		{% block bottom %}
			<div class="footer">
					{% include "common/category_block.html" %}
					{% include "common/emails_block.html" %}
			</div>
			{% include "common/info_footer.html" %}
		{% endblock %}
	</div>

	<div class="shade js-sliding-nav-overlay"></div>

	{% include "common/_sliding_nav.html" %}

	{% block js %}
	  {% render_bundle 'common' 'js' %}
	{% endblock %}
	{% if settings.PIWIK_SITE_ID != '0' %}
		{% piwik %}
	{% endif %}
{% endblock %}
