{% load wagtailsettings_tags %}
{% get_settings use_default_site=True %}
<section class="panel nice-padding" style="font-size: 1.5em; line-height: 1.6">
	<ul style="list-style-type: none; padding: 0">
		<li>
			<a
				href="{% url 'wagtailimages:add' %}"
				class="icon icon-image"
				style="display: block"
			>
				Add a new image
			</a>
		</li>

		{% with incident_page=settings.common.SearchSettings.search_page %}
			{% if incident_page %}
				<li>
					<a
						href="{% url 'wagtailadmin_pages:add_subpage' incident_page.pk %}"
						class="icon icon-plus-inverse"
						style="display: block"
					>
						Add a new incident
					</a>
				</li>
			{% endif %}
		{% endwith %}
	</ul>
</section>
{% if prepub_sync_completed_at %}
	<section class="panel nice-padding" style="font-size: 1.5em; line-height: 1.6">
		<p><strong>Prepublication Incidents Sync</strong>
			<br>
			Completed at: {{ prepub_sync_completed_at|date:"SHORT_DATETIME_FORMAT" }}
			{% if not prepub_sync_extended_message %}
				<br>
				{{ prepub_sync_message }}
			{% endif %}
		</p>
		{% if prepub_sync_extended_message %}
			<p>
				Sync did not succeed.
			</p>
			<details>
				<summary>Details</summary>
				{{ prepub_sync_message }}
			</details>
		{% endif %}
	</section>
{% endif %}
