{% load wagtailsettings_tags wagtailadmin_tags %}
{% get_settings use_default_site=True %}
<section class="panel nice-padding" style="font-size: 1.5em; line-height: 1.6">
	<ul style="list-style-type: none; padding: 0">
		<li>
			<a
				href="{% url 'wagtailimages:add' %}"
				class="icon icon-image"
				style="display: block"
			>
				Add a new image
			</a>
		</li>

		{% with incident_page=settings.common.SearchSettings.search_page %}
			{% if incident_page %}
				<li>
					<a
						href="{% url 'wagtailadmin_pages:add_subpage' incident_page.pk %}"
						class="icon icon-plus-inverse"
						style="display: block"
					>
						Add a new incident
					</a>
				</li>
			{% endif %}
		{% endwith %}
	</ul>
</section>
{% if prepub_sync %}
	{% panel id="unconfirmed-incidents" heading="Unconfirmed Incidents Sync" classname="w-panel--dashboard" %}
	<div class="w-mt-0 w-mb-4 w-px-6 w-body-text-large">
		<dl>
			<dt>Sync process last run at</dt>
			<dd>{{ prepub_sync.completed_at|date:"SHORT_DATETIME_FORMAT" }}</dd>

			{% if prepub_sync.error_message  %}
				<dt>Error message</dt>
				<dd>{{ prepub_sync.error_message }}</dd>
			{% endif %}

			<dt>Unconfirmed incidents synced</dt>
			<dd>{{ prepub_sync.successful_rows }}</dd>
		</dl>
		{% if prepub_sync.skipped_rows.all %}
			<details>
				<summary style="display: list-item">Rows skipped: {{ prepub_sync.skipped_rows.count }}</summary>
				<ul>
					{% for row in prepub_sync.skipped_rows.all %}
						<li>Row {{ row.number }}: {{ row.reason }}</li>
					{% endfor %}
				</ul>
			</details>
		{% endif %}
	</div>
	{% endpanel %}
{% endif %}