{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block main %}
    <h1 class="page-title">{{ page.title }}</h1>

    <section class="formpage-body">
        {% if page.intro %}
            <div class="styled-text">
                {{ page.intro|richtext }}
            </div>
        {% endif %}

        {% if page.form_intro %}
            <h3 class="styled-text heading">{{ page.form_intro }}</h3>
        {% endif %}

    </section>

    <section class="formpage-form">
        <form class="form" action="{% pageurl page %}" method="post">
            {% csrf_token %}
            {% for group in page.groups %}
                <fieldset>
                    <h4 class="heading-regular">{{ group.title }}</h4>
                    {% if group.description %}
                        <p>{{ group.description }}</p>
                    {% endif %}
                    {% with template='forms/_'|add:group.template|add:'.html' %}
                        {% include template %}
                    {% endwith %}
                </fieldset>
            {% endfor %}
            <button type="submit" class="btn btn-primary">{{ page.button_text }}</button>
        </form>
    </section>
{% endblock %}
