.filter-text-input
	border: 0
	border-radius: $border-radius
	background-color: $lighter-violet
	transition: all 0.1s linear
	padding: 0.3em 0.5em
	width: 50%

	&--has-input
		background-color: $white
