{% extends "modeladmin/index.html" %}


{% block header_extra %}
    <div class="right">
            <span class="mergebutton">
                {% include 'modeladmin/includes/button.html' with button=view.button_helper.merge_button %}
             </span>

        {% if user_can_create %}
                <span class="addbutton">
                    {% include 'modeladmin/includes/button.html' with button=view.button_helper.add_button %}
                 </span>
         {% endif %}
    </div>
{% endblock %}

