{% extends "wagtailadmin/base.html" %}

{% block titletag %}Import Legal Orders{% endblock %}

{% block content %}
	{% block header %}
        {% include "wagtailadmin/shared/header_with_locale_selector.html" with title="Import Legal Orders" subtitle="Submit file" icon="table" merged=1 %}
    {% endblock %}

	<div class="nice-padding">
		<p>
			Upload a CSV containing legal order information organized by incident.
		</p>
		<form enctype="multipart/form-data" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Submit" class="button" />
		</form>
	</div>
{% endblock %}
