{% extends "base.html" %}

{% block main %}
<div style="max-width: 800px; margin: 20px;">
	<h2>Incident</h2>
	{% include "styleguide/modules/_incident.html" %}

	<h2>Data Table</h2>
	{% include "styleguide/modules/_data-table.html" %}

	<h2>Flex Container</h2>
	Not pictured here. <code>&lt;div class="flex-container" /&gt;</code> ensures
	that its last child expands to fill the viewport

	<h2>Layout: Right Sidebar</h2>
	{% include "styleguide/modules/_layout-right-sidebar.html" %}

	<h2>Layout: Right Sidebar (with Light Sidebar)</h2>
	{% include "styleguide/modules/_layout-right-sidebar-w-light.html" %}

</div>
{% endblock %}
