@use "../responsive";
@use "../typography";

.article-title {
  font-size: typography.$font-size-h2;
  line-height: 1;
  font-weight: 400;
  letter-spacing: -0.03em;

  @include responsive.constrain-to-desktop;

  @include responsive.tablet-up {
    font-size: typography.$font-size-h2-tab;
  }


  @include responsive.desktop-up {
    font-size: typography.$font-size-h2-desktop;
  }
}
