@use "../colors";
@use "../grid";
@use "../responsive";

.related-incidents {
	background-color: colors.$section-background;
	padding-top: 2rem;
	padding-bottom: 5rem;

	&__inner {
		@include responsive.constrain-to-desktop;
	}

	&__actions {
		text-align: right;
		margin-top: 2rem;

		@include responsive.constrain-to-desktop;
	}

	&__container {
		margin: 0;
		padding: 0;
		list-style-type: none;
		grid-auto-flow: row;

		@include grid.grid-container;
	}

	&__item {
		grid-column: 1 / -1;
		margin-bottom: 2rem;

		@include responsive.tablet-up {
			grid-column: span 4;
		}

		@include responsive.desktop-up {
			grid-column: span 3;
		}
	}
}
