{% load wagtailcore_tags %}
<ul class="details-table__list">
	{% for item in items %}
		<li class="details-table__list-item">
			<a href="{% pageurl index %}?{{ field }}={{ item.charge.pk }}" class="text-link">
				{{ item.charge.title|capfirst }}
			</a>
			<ul class="details-table__sublist">
				<li class="details-table__sublist-item">
					{{ item.date }}: {{ item.get_status_display|capfirst }}
				</li>
				{% for update in item.updates.all %}
					<li>{{ update.date }}: {{ update.get_status_display|capfirst }}</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
