{% load wagtailcore_tags %}
<ul class="details-table__list">
	{% for item in items %}
		<li class="details-table__list">
			<a href="{% pageurl index %}?legal_order_type={{ item.order_type }}" class="text-link">{{ item.get_order_type_display }}</a>
			for
			<a href="{% pageurl index %}?legal_order_information_requested={{ item.information_requested }}" class="text-link">
				{{ item.get_information_requested_display }}
			</a>
			<ul class="details-table__sublist">
				{% for date, status in item.entries_display %}
					<li class="details-table__sublist-item">
						{{ date }}: {{ status|capfirst }}
					</li>
				{% endfor %}
			</ul>
		</li>
	{% endfor %}
</ul>
