.admin-overlay
	z-index: 1000
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: rgba(0, 0, 0, 0.75)

	display: flex
	align-items: center
	justify-content: center

.admin-modal
	background-color: #eee
	padding: 1em

	&__legend
		height: inherit
		width: inherit
		position: static
		padding: 3px 6px
		margin: 0 0 0.5em 0
		font-size: 120%
		font-weight: bold

	&__label
		float: none
